[2020-08-27 20:12] Roboroads opened #1 "Add support for remote/docker php interpreters"
It - for now - only works when you select a local interpreter. The error is extremely unclear as well.

[2020-08-29 18:23] #1 closed

[2020-09-02 09:10] Roboroads opened #3 "No clear error when not running in a Laravel project"
It just doesn't work when you do this, without knowing why.

[2020-09-03 09:26] #3 closed

[2020-09-03 09:26] Roboroads commented on #3
Fixed in 1.1.0

[2020-09-03 15:51] 949mac opened #4 "No visible output"
What am I missing?

![image](https://user-images.githubusercontent.com/23151962/92137873-9061fa80-edc2-11ea-8411-588377c7fb2e.png)

[2020-09-03 18:06] tm69 commented on #4
you need to configure your php cli interpreter
Settings->Language & Frameworks->PHP

![imagen](https://user-images.githubusercontent.com/28063419/92151075-59491480-edd5-11ea-99fd-1206949737d5.png)

[2020-09-04 08:55] Evertt opened #5 "Couple of feature requests"
- Being able to run the code with a simple keyboard shortcut. If that already exists, then please document that somewhere.
- Maybe also being able to turn on "auto-run" which runs your code automatically whenever you stop typing for a second?
- Making the output window prettier.
    - Like using the same font as the user has configured for their editor.
    - And some form of syntax highlighting i

[2020-09-04 09:34] Roboroads commented on #5
You can run the code with the same keystroke as you use to open it (ctrl shift T is default). This is documented everywhere :P

I thought about autorunning but if you are writing delete queries and ot runs automatically before you wrote the "where" part this feature does more harm than good.

Output window is indeed not the nicest right now. I tried a couple different things and this was the best

[2020-09-04 09:37] Evertt commented on #5
In the readme I read:

So I understood from that that I could open the console with that shortcut. It was not clear to me however that that shortcut can also run the code.

Good point. I wasn't super sure about that feature already, but now I fully agree that that wouldn't be a good idea. 😅

Okay cool, I understand. :-)

[2020-09-04 11:06] Roboroads commented on #5
I'll clear that up in the readme for the next release - that's what the "run" means. The shortcut checks if you have a console open, if not it opens one, if yes it runs it.

[2020-09-04 11:11] Roboroads commented on #4
If it's not the interpreter settings please let me know. You should have received an error message with what the issue is but i could have missed an exception.

[2020-09-04 11:14] Roboroads opened #6 "Use the same font/color as in the rest of the IDE"
As @Evertt pointed out in #5 the output window could be prettier

[2020-09-04 11:15] Roboroads opened #7 "Add syntax highlighting in the output"
As @Evertt pointed out in #5 the output should be syntax highlighted

[2020-09-04 11:17] Roboroads opened #8 "Build in an opt-in auto run feature"
As @Evertt pointed out in #5 an auto-run feature would be nice, but only opt-in. This way you don't accidentally run a delete query without where statements.

[2020-09-04 11:18] Roboroads commented on #5
I've splitted feature requests into individual ones. Thanks for your feedback!

[2020-09-04 11:18] #5 closed

[2020-09-04 11:21] Roboroads commented on #4
Also, quick hint, you can instead of this print_r thing also just do `\App\User::all();` without putting it in a variable to print it nicely immediately.

[2020-09-04 12:20] Roboroads opened #9 "Outputting a large amount of text will take a while"
Outputting a DB collection of 100+ rows makes it clear the output needs to be buffered a little. Looks like the IDE gets stuck processing all that text.

[2020-09-04 13:44] Roboroads opened #10 "Remember last executed code"
Restarting the console deletes the code that was in it. I'm creating a cache that rembers the last thing you executed.

[2020-09-04 14:27] Davidnadejdin opened #11 "Null file after execution"
after executing the code, a null file is created
![image](https://user-images.githubusercontent.com/40993387/92250292-b54e8e80-eee4-11ea-939a-6a31c7cd85e5.png)

[2020-09-04 15:23] mendelsimon opened #12 "Uncaught Error: Class 'Laravel\Tinker\ClassAliasAutoloader' not found"
[code]

[2020-09-04 15:24] qwertynik commented on #6
@Roboroads I agree with @Evertt, this will make it more easily usable. Currently I am unable to see the output. Running a dark them on PHPStorm on a Windows 10 machine.
Eagerly waiting for this.

[2020-09-04 15:38] Roboroads commented on #6
@qwertynik actually already working on it. Should be done today.

[2020-09-04 15:40] Roboroads commented on #12
Hey, what version of Laravel are you on?

[2020-09-04 15:58] Roboroads commented on #11
Looks like a windows problem - I have not encountered this on my unix machines.

[2020-09-04 16:44] Roboroads opened #13 "Link at PHP Interpreter error does not link to the settings page you need"
But it will :)

[2020-09-04 18:24] #10 closed

[2020-09-04 18:24] #13 closed

[2020-09-04 18:24] Roboroads commented on #6
Added to v1.1.1 - will release today

[2020-09-04 18:24] #6 closed

[2020-09-04 18:42] mendelsimon commented on #12
Laravel 5.3.20 with PHP 7.1.28 on Windows.

[2020-09-04 18:50] #9 closed

[2020-09-04 18:57] Roboroads commented on #12
Well, there is the problem. I'm using the underlying laravel tinker package (https://github.com/laravel/tinker). Laravel Tinker was introduced in Laravel 5.4 (tinker 1.0 btw, I have only tested it with tinker 2 which came with Laravel 6)

You should consider upgrading to a higher laravel version.

[2020-09-04 19:25] Roboroads opened #14 "Object of class Illuminate\Foundation\Application could not be converted to string"
**Bug description**
When running, in yet unknown conditions, an error occurs.
`PHP Fatal Error: Uncaught Error: Object of class Illuminate\Foundation\Application could not be converted to string in Command line code:6`

**To Reproduce**
Run a tinker console window

**Expected behavior**
The error should not have appeared and output following my code in

**Screenshots**
None

**Environment (please

[2020-09-04 20:15] mendelsimon commented on #12
I can definitely use Tinker in Laravel 5.3.20 with `php artisan tinker`.

[2020-09-05 11:37] msouto346 opened #15 "Using laravel-tinker creates a null untracked file in git"
Like the title says, everytime I use the plugin a null file is generated in my untracked files.

[2020-09-05 11:37] #15 closed

[2020-09-05 11:37] msouto346 commented on #15
Duplicated

[2020-09-05 11:38] msouto346 commented on #11
The same thing happens to me on windows10

[2020-09-06 01:30] Roboroads commented on #12
What is your tinker version? (`composer show laravel/tinker`)

[2020-09-06 01:34] Roboroads commented on #11
Does the null file have any content? I want to fix this but i have to install some windows somewhere.

[2020-09-06 07:30] msouto346 commented on #11
Nope, and the only way to clean it from untracked files in git is by doing git clean -fd

[2020-09-06 11:26] Davidnadejdin commented on #11
install in virtual machine

[2020-09-07 01:16] mendelsimon commented on #12
Running that command gives me
[code]
It looks like Tinker used to be a part of `laravel/framework` before 5.4, where it was removed into its own `laravel/tinker` package: https://github.com/laravel/framework/pull/17002.

[2020-09-07 18:10] canvural commented on #14
I can also confirm it only happens if `docker exec` is used.

[2020-09-07 22:32] Roboroads commented on #12
Ah, seems like it. I think the scope of this bug goes a little over what I want to support. Laravel ended support for 5.3 a long time ago (August 23rd, 2017). I'm willing to fix bugs that occur in currently supported versions.

If you really want to support your edge case, you may create a PR for it :)

[2020-09-07 22:34] Roboroads commented on #14
Thanks! That helps.
Now to find out *why* :P

[2020-09-08 11:27] TobiasGasser commented on #6
Using the Darcula default theme. The "Tinker Output" font color always is black though and is barely visible.
Anything I missed?

[2020-09-08 11:47] Roboroads commented on #6
After switching you have to restart.Op 8 sep. 2020 13:27 schreef Tobias Gasser <notifications@github.com>:
Using the Darcula default theme. The "Tinker Output" font color always is black though and is barely visible.
Anything I missed?

—You are receiving this because you modified the open/close state.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-08 17:06] TobiasGasser commented on #6
Works, thanks! - Could have come to my mind myself.... ;)

[2020-09-08 22:04] Roboroads commented on #6
@TobiasGasser @qwertynik @Evertt How is the output window for you now? Is it better than what it was?

[2020-09-09 07:54] Evertt commented on #6
I updated to the last version (1.1.1), restarted PhpStorm and yet I see no difference. I don't know what I'm doing wrong.

![image](https://user-images.githubusercontent.com/1267282/92570581-5ee5a500-f282-11ea-8509-9d29db1ca256.png)

[2020-09-09 08:00] Evertt opened #16 "Pressing the keyboard shortcut when the output window has focus creates a new console window"
**Bug description**
See title.

**To Reproduce**
* Press ctrl+shift+T to open a console window.
* Write some random code, e.g. `echo mt_rand(1, 100);`
* Press ctrl+shift+T to render the output
* Press ctrl+shift+T again

**Expected behavior**
I would expect the code from my console window (which was already open, just not in focus) to be run again.

**What actually happens**
Instead, a new console

[2020-09-09 08:00] bomas13 opened #17 "Run Tinker inside a docker container"
**Is your feature request related to a problem? Please describe.**
If using docker and having a separate container for the database and app it's may necessary to run tinker from inside of the app container

**Describe the solution you'd like**
provide a small configuration page to set up in which container tinker should run in.

**Describe alternatives you've considered**
none

**Additional contex

[2020-09-09 08:05] Roboroads commented on #17
@bomas13 use the PHP interpreter settings. If you set the PHP interpreter to the app container's PHP it runs in there.

Let me know if this helps 😊

[2020-09-09 08:19] bomas13 commented on #17
Ah... you're right. It is my fault. I recognized that I run into this issue: https://github.com/Roboroads/laravel-tinker/issues/14

[2020-09-09 08:19] #17 closed

[2020-09-09 08:43] Roboroads commented on #17
@bomas13 For now try to set your docker interpreter to do a docker run instead of an exec. I'm not sure yet why #14 happens

[2020-09-09 08:45] Roboroads commented on #16
You're right. The last executed code feature in 1.1.1 could come in handy with this.

[2020-09-09 09:37] matro-skin commented on #4
https://prnt.sc/ue69j5
How to change color?

[2020-09-09 10:08] daniser opened #18 "LARAVEL_START constant is undefined"
**Bug description**
Plugin can't see LARAVEL_START constant declared in "artisan" script.

**To Reproduce**
`<?php echo LARAVEL_START;` in tinker console.

**Expected behavior**
LARAVEL_START is predefined Laravel constant and should be visible by the plugin console (it works in artisan tinker BTW).

**Environment**
 - IDE & Version: PHPStorm 2020.2.1
 - PHP Version: 7.4.5
 - Interpreter Type: Loc

[2020-09-09 12:49] Roboroads commented on #18
I'm not running your console through the exact `php artisan tinker` command, just using the way it processes input. Where do you need this constant for?

[2020-09-09 12:52] Roboroads opened #19 "Output window requires restart to follow IDE style"
**Bug description**
See title

**To Reproduce**
Install plugin, run tinker before restarting

**Expected behavior**
Should have the IDE style inheritted

[2020-09-09 12:54] Roboroads commented on #4
@matro-skin tried to repair this in 1.1.1 but it seems a restart of the IDE fixes it for now. I created a new issue, #19 , I will tryu to make it work without a restart.

[2020-09-09 12:59] daniser commented on #18
It is used in my project to measure script execution time. It's large project with tons of legacy code. Is there a way to tinker (sic!) with this wrapper script to add custom bootstrap code to it?

[2020-09-09 15:28] adelf commented on #11
@Roboroads you can try to create a file editor with empty document, without any virtual files. Right in the tool window for example. Or use scratch files.

[2020-09-09 21:45] Roboroads commented on #11
@adelf Is the null file caused by a LightVirtualFile? The whole ponint of using an editor tab is so that you can use all the PHP editor functions.
Why scratch files? The point was the console not being accessible except from the shortcut.

Note: I'm new to Kotlin and JB PlugDev.

[2020-09-09 22:41] Roboroads commented on #18
I'll add the constant in the following version - for now you could prepend your script to work around the problem.

[code]

[2020-09-09 22:48] #18 closed

[2020-09-10 09:38] daniser commented on #18
Just FYI: this doesn't help because, as I said, this constant is used inside service provider that boots before tinker script execution:
![tinker](https://user-images.githubusercontent.com/5169543/92712058-72b00a80-f359-11ea-90d2-83d1730b1e35.png)

But it's no problem, I'll just wait for the next version. Thank you.

[2020-09-10 10:03] Roboroads commented on #18
Ah yea, gotcha. It's queued for 1.1.2 ✌️

[2020-09-10 21:22] adelf commented on #11
Might be.

The editor can be used in the toolbox window and all PHP editor functions will be available. Little screenshot from "tinker" branch of Laravel Idea(seems it will never be merged :) ):
![image](https://user-images.githubusercontent.com/2818394/92805558-e423a380-f3c1-11ea-98cd-903d1cf79dc3.png)

Inside tool window class:
[code]
`editor.component` then can be used to put to the toolwindow.

[2020-09-10 22:10] Roboroads commented on #11
My whole plan for the plugin was for it to be a tab, like how you can run database queries from a sql console/file. The screen out of the idea plugin is not feeling right in mind for some reason, in respect to how jetbrains have made their tools.I just hadn't had the time yet to investigate, but will definitely check if the lvf is the problem.Also, thanks for helping and offering PRs!

[2020-09-14 14:26] TobiasGasser commented on #6
After initial restart it actually did not work (same screen as @Evertt ).
Had to restart again, then it worked.

[2020-09-15 12:35] bussnet opened #20 "ClassAliasAutoloader not found"
Got an Exception on execution code with the tinker plugin.

[code]

**Environment:**
 - IDE & Version: PHPStorm 2020.1.2
 - PHP Version: PHP 7.1.29-1+0~20190503101539.18+stretch~1.gbp946c98
 - Laravel Tinker plugin version : 1.1.1
 - Interpreter Type: Remote
 - Laravel Version: v5.4.28
 - Tinker version: v1.0.1

[2020-09-15 21:55] ricardoaponte commented on #19
I am using the Darcula theme and the color combination for the fonts cannot be changed. Attached is an example of how it looks.

![image](https://user-images.githubusercontent.com/406591/93269198-8d7ce780-f77c-11ea-833e-5b8516a0fd75.png)

[2020-09-15 22:49] Roboroads commented on #19
@ricardoaponte I'm aware - this is why this issue is here. Thanks for helping tho :)

[2020-09-15 23:15] Roboroads commented on #11
Progress on the matter - it's not my plugin that is creating the null file. It's happening somewhere in Psysh. Running the command I run for the plugin without using the plugin creates the null file aswell.

[2020-09-15 23:24] Roboroads commented on #11
Found it!

[2020-09-15 23:27] #11 closed

[2020-09-16 16:18] Roboroads commented on #20
Looks like in tinker 1.0.1 the autoloader didn't exist yet. Might be able to fix this with an if - and fixes #14 at the same time for even older versions of tinker. It's going to be an unsupported feature tho.

[2020-09-16 16:26] Roboroads commented on #12
@mendelsimon I will add an if araound the classloader (#20) so your application will probably also work in v1.1.2 - note that autoloading is probably not going to work, but i'm not sure and am also not officially supporting it.

[2020-09-16 16:26] #20 closed

[2020-09-16 16:26] #12 closed

[2020-09-16 16:28] Roboroads commented on #16
Closed this by accident

[2020-09-16 16:28] Roboroads commented on #19
Fixed in https://github.com/Roboroads/laravel-tinker/commit/65a51528dff478f31aeb73976aa1fa5dcc86493c

[2020-09-16 16:28] #19 closed

[2020-09-16 18:48] Roboroads commented on #7
@Evertt How's this?

![image](https://user-images.githubusercontent.com/4398301/93379362-01db8780-f85e-11ea-9dc6-ebaf6ab10024.png)

[2020-09-16 19:13] Roboroads commented on #7
Got it now following IDE style automatically
![image](https://user-images.githubusercontent.com/4398301/93381771-706e1480-f861-11ea-8401-23c30e196fda.png)
![image](https://user-images.githubusercontent.com/4398301/93381795-79f77c80-f861-11ea-8ec6-16f9dfe6a857.png)

[2020-09-16 19:15] #7 closed

[2020-09-16 20:07] Evertt commented on #7
Awesome

[2020-09-16 20:32] #16 closed

[2020-09-17 13:47] Roboroads opened #21 "Implement shortcut to close tinker console and output at the same time"
Imported from JetBrains Plugin Repo review by Joao Alves

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

[2020-09-18 05:58] qwertynik commented on #6
@Roboroads
Hey, thanks for being responsive and upgrading the extension. Tried restarting did not help. Restarted again as per @TobiasGasser's suggestion and now it is much better.

![image](https://user-images.githubusercontent.com/6836536/93561485-e6799500-f9a1-11ea-9bde-7289b985f3b4.png)

Would be great if there is an option to increase the font size in the output.

[2020-09-18 07:26] Roboroads commented on #6
@qwertynik plugin v1.2.0 just got approved in which the problem gets solved. You should update 😊

Increasing the font size would be a new feature (or it should follow the ide settings as well) - best make a new issue for that one.

[2020-09-18 16:21] qwertynik opened #22 "Ability to increase font size in the output screen, or, make it similar to IDE output"
**Current Output**
![image](https://user-images.githubusercontent.com/6836536/93621371-1011db00-f9f9-11ea-948c-3458241c87ff.png)

**Describe the solution you'd like**
Making the output similar to what is printed by the IDE.
![image](https://user-images.githubusercontent.com/6836536/93621218-dccf4c00-f9f8-11ea-8ff4-c9efab5b19b6.png)

**Describe alternatives you've considered**
- Increasing the font

[2020-09-18 16:21] qwertynik commented on #22
@Roboroads

[2020-09-18 16:22] qwertynik commented on #4
@Roboroads added a new issue #22 for output display format change

[2020-09-18 21:21] Roboroads commented on #22
Thanks for the feedback - i will implement this for sure

[2020-09-18 21:22] Roboroads commented on #4
I'm going to assume the main issue got fixed.

[2020-09-18 21:22] #4 closed

[2020-09-20 17:10] Roboroads commented on #18
@daniser This fix got released this week, is it now fixed for you?

[2020-09-20 20:01] daniser commented on #18
Yeah, already checked it out, works great. Thank you!

P.S. Some little annoying bugs remained though, when trying to execute empty shell:
`<?php 1;` gives me output:
[code]
... looks good, but this:
`<?php;` doubles notification:
[code]
... and when I omit semicolon entirely like that:
`<?php` it gives me this error:
[code]
Not that it's huge problem (who in their sane mind installs Tinker consol

[2020-09-20 21:52] Roboroads commented on #18
Adding <?php is not even necessary, you can run php code without it, it's just there to make the ide know that you are in php code. double execution finish message is probably because you press the shortcut twice. That is indeed a bug I wanted to fix but forgot.

[2020-09-21 01:02] Davidnadejdin opened #23 "Duplicate execution"
**Bug description**
Duplicate execution on windows

**To Reproduce**
Execute code

**Expected behavior**
Single execution

**Screenshots**
![image](https://user-images.githubusercontent.com/40993387/93726497-cdeec200-fbcf-11ea-9bd8-ba1caded755a.png)
![image](https://user-images.githubusercontent.com/40993387/93726518-e65edc80-fbcf-11ea-882e-3dd9c498ee49.png)

**Environment:**
 - IDE & Version:  PH

[2020-09-21 11:17] amirzpr opened #24 "Uncaught ErrorException: touch(): Utime failed: Invalid argument"
Hi. I get an error with the message below, every time I execute a code in Tinker console. It doesn't matter what the statement is.

[code]

I've attached full error text as a text file for you.
[error.txt](https://github.com/Roboroads/laravel-tinker/files/5285354/error.txt)

**Environment:**
 - IDE & Version: PHPStorm 2020.2.1
 - PHP Version: 7.4.5
 - OS: Windows 10
 - Laravel Tinker plugin versio

[2020-09-24 12:04] WilhelmH opened #25 "Force save files before running tinker?"
Hello, and thank you for an excellent plugin!

**Bug description**
Changes in files not always recognized by tinker.

**To Reproduce**
Make some changes to a file (outside of Tinker Console) and run Laravel Tinker before files are automatically saved to disk.

**Expected behavior**
Run tinker _after_ all virutal files are saved to disk. Manually force saving files with CMD+S in PHP Storm before ru

[2020-09-24 12:11] Roboroads commented on #25
I'm unsure if i want to add this. I don't want to accidentally save someones file when in fact they didn't want that. I'm also unsure if a plugin can trigger a mass save. If it could, it could be a setting for the plugin.

Isn't there a setting that auto saves files when you unfocus the editor of that file?

[2020-09-24 12:37] WilhelmH commented on #25
PHPStorm is supposed to auto save files anyhow – you can't really turn it off, alt least not anymore. According to Peter Gromov: https://youtrack.jetbrains.com/issue/IDEABKL-6460#focus=Comments-27-366729.0-0

Would it be possible to listen to editor events for if a save occourred, or if a save is in progress? – and in which case, reload tinker, or something.
But a setting for it would be great tho

[2020-09-24 13:26] Roboroads commented on #25
Hmm.. You are right. I'll see if I can implement this somehow when I have the time, or if you can't wait, add it yourself? :)

[2020-09-24 13:39] WilhelmH commented on #25
Great!

Unfortunately, I do not know how to develop plugins for IntelliJ, nor do I use Java/Kotlin, but I would love to do it someday!! :)

[2020-09-24 13:42] Roboroads commented on #25
Bummer :man_shrugging: Haha

[2020-09-24 13:45] Roboroads commented on #24
Hi @amirzpr - I need more information to know where this is coming from. Please use the bug template when creating an issue.

[2020-09-24 21:38] Roboroads commented on #23
@Davidnadejdin Hey! Code is not executed twice, but displayed twice. I just had this problem myself.
Fixing this today!

[2020-09-24 21:56] #23 closed

[2020-09-24 22:02] #25 closed

[2020-09-24 22:14] Roboroads commented on #25
Version 1.2.1 is submitted and in review - fixing this issue :smile:

[2020-09-24 22:14] Roboroads commented on #23
Version 1.2.1 is submitted and in review - fixing this issue :smile:

[2020-09-25 06:44] WilhelmH commented on #25
Awesome! That was quick 😄

[2020-09-25 06:53] Roboroads commented on #25
It was easier as expected 😊

[2020-09-25 20:55] amirzpr commented on #24
I've updated the issue according to bug template. @Roboroads

[2020-09-25 21:09] Roboroads commented on #24
@amirzpr Thanks! Time to boot up the windows VM again huh - I already thought it was a windows problem.

[2020-09-25 21:18] Roboroads commented on #24
@amirzpr Are you, by any chance, logged in with a user that has restricted access to the filesystem? (For instance, a windows Active Directory setup?)

[2020-09-25 21:30] amirzpr commented on #24
No, I'm logged in as an Administrator user.

Yes. I've made some research about it. Isn't it related to the plugin? Because I'm not getting this error anywhere else.

[2020-09-25 21:32] Roboroads commented on #24
@amirzpr It's in the way relaterd to the plugin that PsySH is trying to create a "hirstory file" - but since I don't really want to keep a history - since it's not needed and nothing gets written to it anyway - I tell PsySH to write to NUL on windows.

`$config->setHistoryFile(defined('PHP_WINDOWS_VERSION_BUILD') ? 'nul' : '/dev/null');`

[2020-09-25 21:34] Roboroads commented on #24
Note that *not* setting a historyfile - PsySH created one itself. This is also unwanted.

[2020-09-25 21:37] amirzpr commented on #24
Yes, I see.
Can you think of any solutions?! 🤔

[2020-09-25 23:50] Roboroads commented on #24
Currently not - since i cannot edit PsySH - only what settings i put into it. Maybe put it in some kind of temp directory adn deleting it afterwards.. Seems hacky :man_shrugging:

[2020-09-25 23:54] Roboroads commented on #24
@amirzpr could you maybe run the following commands in CMD on your PC and send me the output here?

 - `php -r "var_dump(defined('PHP_WINDOWS_VERSION_BUILD'));"`
 - `php -r "touch('nul');"`
 - `php -r "touch('\\nul');"`

[2020-09-26 06:17] amirzpr commented on #24
Windows OS has a global temp directory. Maybe you could utilize that.

Sure. Here are the results:

### Command:
[code]

### Output:
[code]

### Command:
[code]

### Output:
[code]

### Command:
[code]

### Output:
[code]

### Command:
[code]

### Output:
[code]

[2020-09-26 07:46] Roboroads commented on #24
Thanks a lot!
Looks like the temp dir is going to be the only viable solution 🤷‍♂️

[2020-09-26 09:45] amirzpr commented on #24
You're welcome. 💙
Please let me know if you fixed the issue.

[2020-10-06 07:57] makroxyz opened #26 "Tinker parameters"
Please add the possibility to open tinker with params like --env or any other custom param

[2020-10-09 07:53] fozbek opened #27 "Implement shortcut to run the code"
**Is your feature request related to a problem? Please describe.**
I don't prefer use mouse while coding. I think most people don't

**Describe the solution you'd like**
a shortcut to run the code

[2020-10-09 08:13] Roboroads commented on #27
The shortcut to run the code is the same as the shortcut to open the tinker console. I have stated that everywhere where in tutorials and even in the description of the shortcut. Hope that helps you!

[2020-10-14 06:32] Davidnadejdin opened #28 "Trying to put a comment in the output?"
**To Reproduce**
Place a comment after an expression

**Expected behavior**
Ignore comment

**Screenshots**
![image](https://user-images.githubusercontent.com/40993387/95952055-dd4cde00-0e10-11eb-868d-dbfeccf53cd9.png)
![image](https://user-images.githubusercontent.com/40993387/95952078-e63daf80-0e10-11eb-9e42-efa52828c81e.png)

**Environment:**
 - IDE & Version: PHPStorm 2020.2
 - PHP Version: 7.

[2020-10-14 06:34] Davidnadejdin commented on #28
@Roboroads the problem is in the tinker itself, you can clear the code from comments in this case, before passing it to the tinker

[2020-10-14 07:40] Roboroads commented on #28
Ah yes. I'm not clearing comments before outputting them. I'll put it on the list 😊

[2020-10-14 11:19] fozbek commented on #27
Thanks.

[2020-10-14 11:20] #27 closed

[2020-10-14 13:59] Roboroads commented on #26
You can put them in your interpreter settings:
![image](https://user-images.githubusercontent.com/4398301/95999502-3bd88300-0e36-11eb-9748-b72ed5f903e7.png)

[2020-10-15 12:38] emargareten commented on #1
@Roboroads I'm still getting the error when using a remote interpreter (vagrant)
![image](https://user-images.githubusercontent.com/46111162/96125325-6260f180-0efc-11eb-8d34-74e14b92ade8.png)

[2020-10-15 12:51] emargareten opened #30 "Remove execution messages"
**Is your feature request related to a problem? Please describe.**
I think that the messages `// Laravel Tinker started at...` and `*** Execution finished ***` are to much in the way...

**Describe the solution you'd like**
remove the message or at least make it configurable

**Describe alternatives you've considered**
Move the messages to the bottom/right side or outside of the window

**Addition

[2020-10-15 12:53] emargareten commented on #22
I think changing the font family will help too

[2020-10-16 10:26] qwertynik commented on #22
@emargareten Agreed. Basically more customization of the output shown.

[2020-10-27 19:15] makroxyz commented on #26
In Laravel you can start tinker with --env parameter to change environment.

Using https://github.com/tenancy there is another Tinker parameter --tenant to start tinker in a specific tenant which is almost "required"

It would be great to start your plugin with custom parameters or make different profiles...

[2020-11-10 09:21] emargareten commented on #28
Anybody here? 👀

[2020-11-10 10:47] Roboroads commented on #30
I guess making it configurable is a good idea.

[2020-11-10 10:48] Roboroads commented on #28
@emargareten Excuse me, I hadn't had the time to look at it at the time, and forgot about it afterwards. Checking it out now :smile:

[2020-11-10 10:52] emargareten commented on #28
Thanks @Roboroads

[2020-11-10 10:54] Roboroads commented on #28
Merged - will be in the next release (will prob. release one today with more fixes)

[2020-11-10 10:54] #28 closed

[2020-11-10 10:55] mortenscheel commented on #24
This issue looks very similar to https://github.com/spatie/laravel-web-tinker/issues/15
A fix has been merged in https://github.com/spatie/laravel-web-tinker/pull/42 which simply sets the history file to 'null' in stead of 'nul'. I hope it helps.

[2020-11-10 11:24] mortenscheel commented on #24
I can confirm that changing 'nul' to 'null' fixes the issue on my Windows machine.
I have submitted https://github.com/Roboroads/laravel-tinker/pull/31 with the same fix as in https://github.com/spatie/laravel-web-tinker/pull/42

[2020-11-10 11:34] Roboroads commented on #24
@mortenscheel See #11  why this fix doesn't work.

[2020-11-10 12:05] Roboroads commented on #26
@makroxyz I'm working on a settings page in which you can add these params.
Note that I actually don't call `php artisan tinker`, but rather `php -r <tinker init code> <your code>`.

[2020-11-10 12:31] mortenscheel commented on #24
@Roboroads Sorry I missed that. I've closed the PR.

Would it make sense to use XdgBaseDir\Xdg to get the path to the user's config folder and store the history there?

[2020-11-10 14:04] Roboroads commented on #24
@mortenscheel Thing is that i really don't want a history I'm thinking about putting it in the system temp dir and deleting the file afterwards.

[2020-11-10 15:42] mortenscheel commented on #24
Psysh has a Transient readline implementation that only stores history in memory (by setting useReadline to false). I don't know if that would be an option?

[2020-11-10 16:17] Roboroads commented on #26
For this featore to actually work I need to run de code through actual tinker. I *can* run code through tinker by changing the execution lines to what i have done [here](https://github.com/Roboroads/laravel-tinker/blob/wip/running-through-tinker/src/main/resources/scripts/tinker_run.php).

The problem here is that, in a tinker session, the  return value of the last command is displayed (neatly). T

[2020-11-10 16:53] #30 closed

[2020-11-10 20:49] Roboroads commented on #21
Implemented, will be released in 1.3.0

[2020-11-10 20:49] #21 closed

[2020-11-16 15:50] Roboroads opened #33 "Remove shameless patreon plug for patreon supporters"
**Is your feature request related to a problem? Please describe.**
My patreons are receiving the "please support me" message eventhough they already do.

**Describe the solution you'd like**
Oauth-connect your patreon account so I can check if you are a parteon

**Describe alternatives you've considered**
 - A secret patreon-only string in the settings menu. But I don't want it able to be sharable

[2020-11-25 04:25] BazMaster opened #34 "Tinker not working if the project root is not the laravel root"
**Bug description**
[code]

**To Reproduce**
I have Laravel located not in the root folder of the site, but in a subfolder. In one PhpStorm project, I have several Laravel sites.

It would be good to specify a path or several paths to the Laravel root folder in the settings.

Now this plugin is useless for me, unfortunately.

**Screenshots**
![image](https://user-images.githubusercontent.com/29233

[2020-11-25 04:35] BazMaster commented on #34
![image](https://user-images.githubusercontent.com/2923303/100183530-d6bd8600-2ee7-11eb-86e9-87ebab380cda.png)

I output the current folder in Tinker `print __DIR__`

Tinker links to the first site found by Laravel (`Games/ais_games` folder).
But I'm working with the second one, which is located in the same PhpStorm project, but in a different folder: `Parsing/ais_parser`

[2020-11-25 04:38] BazMaster commented on #34
![image](https://user-images.githubusercontent.com/2923303/100183878-c22dbd80-2ee8-11eb-9ebf-13a326b21da2.png)

Helped the exception of the first site from indexing PhpStorm.
But it is better to do this through the settings.

[2020-11-25 04:48] BazMaster commented on #34
I'm missing the following settings:

1. Specify the desired project that Tinker works with: https://github.com/Roboroads/laravel-tinker/issues/34
2. Line wrapping for Tinker Output.
3. Launch Tinker (in the Tinker Console) not only via the green Play icon, but also via the Ctrl+S keyboard shortcut.

----

I couldn't create a separate Issue (the button was disabled)
![image](https://user-images.git

[2020-11-25 13:36] Roboroads commented on #34
@BazMaster

For the original issue: Yes, I could see that as a problem. I'll make a setting where you can specify the laravel root.

For issue 2 - I've been trying to do that bot for some reason it's *really hard* to do. I could use some help with that from someone that has actual experience with Swing. I'll create an issue for this one.

For issue 3 - the shortcut you use to open the tinker shell

[2020-11-25 13:39] Roboroads commented on #34
@BazMaster You cannot create a new issue if you don't fill in the Title ;)

![image](https://user-images.githubusercontent.com/4398301/100234888-feced880-2f2b-11eb-9d0d-984dabd97d98.png)

[2020-11-25 13:41] Roboroads opened #35 "Add line wrapping option for tinker output"
**Is your feature request related to a problem? Please describe.**
If the output contains a long string, you have to scroll. There's no line wrapping option.

**Describe the solution you'd like**
A line wrap option

Copied from [this issue by BazMaster](https://github.com/Roboroads/laravel-tinker/issues/34#issuecomment-733461645)

[2020-12-03 14:56] emargareten opened #36 "Incompatible for PhpStorm 2020.3"
![image](https://user-images.githubusercontent.com/46111162/101044605-33740d00-3588-11eb-9b52-92e0e1b4c29e.png)

[2020-12-04 14:59] Roboroads commented on #36
Fixed in https://github.com/Roboroads/laravel-tinker/releases/tag/v1.3.1 - which is now releasing :)

[2020-12-04 14:59] #36 closed

[2020-12-07 14:53] emargareten commented on #36
Update is still waiting for JetBrains approval 😕

[2020-12-07 16:08] Roboroads commented on #36
It is. I made a compatibitlity mistake somewhere so i had to re-upload it.

[2020-12-08 10:59] mortenscheel opened #37 "Add keyboard shortcut to execute statement under cursor"
The way you execute a statement in the Tinker console is very different from how similar plugins (e.g. Database console) does it.

**Describe the solution you'd like**
Phpstorm has a keybinding called "Execute Current Statement in Multiline Console". On Mac the default is CMD + Enter (I'm not sure about Windows/Linux). Pressing this keyboard shortcut should make Tinker console execute the code and

[2020-12-08 11:06] mortenscheel opened #38 "Provide an intention to "Execute in Tinker console""
It would be awesome if it was possible to highlight a code snippet in a .php file, press ALT + Enter, and select "Execute in Tinker console".

[2020-12-08 11:20] mortenscheel opened #39 "Use the built-in "Scratches and Consoles" to store Tinker consoles."
The action "Start new Tinker console" is a bit misleading since it doesn't actually start a new console, but rather reuses the previous one.

The ability to create multiple Tinker console files (and name them) would be a really nice feature.
I don't know where the plugin currently stores the console content, but I suppose the most intuitive place would be in the IDEs "Scratches and Consoles".

[2020-12-08 13:35] Roboroads commented on #39
I like this idea, currently i'm saving it in the cache of the plugin on a per-project basis. Now we have the settings window there is a way to have a setting "Always reopen last window" and a seperate "start new console" button.

[2020-12-08 13:38] Roboroads commented on #38
That's an amazing idea - and i feel stupid for not thinking of this myself, haha.

[2020-12-08 13:40] Roboroads commented on #37
I'm unsure if I can easily hook into that event - but if I can figure it out I could add it :)

[2020-12-08 13:58] Roboroads commented on #8
Catually, not going to do this. I think running backend code should be done on actual intent and adding this feature just will do harm somewhere per accident.

[2020-12-08 13:58] #8 closed

[2020-12-09 03:33] BazMaster commented on #34
Thank you, that's right.

1. Ok
2. Ok
3. Thank you. It works. (Ctrl+T)

I forgot the title - it was my inattention, I'm sorry.

[2020-12-12 00:22] seifodev opened #40 "Output window sometimes stops showing output"
![Screenshot_20201212_021141](https://user-images.githubusercontent.com/4215535/101966297-e810cd00-3c1f-11eb-8eb7-d8096de5b0fc.png)

when I first installed the plugin It worked fine and executed a query with large data.
after that when I try to execute any thing It gives me empty output
when I reinstall the plugin, it works once then no output again.

Also large data output is incomplete.

[2020-12-12 11:40] Roboroads commented on #40
Hey! I' m aware of this one, had it a couple of times myself.The workaround is closing the tinker output tab and then restsrting the ide. Excuse me for the inconveinience.I'm still trying for a fix ;)Op 12 dec. 2020 01:22 schreef Mahmoud Seifeldeen <notifications@github.com>:

when I first installed the plugin It worked fine and executed a query with large data.
after that when I try to execute an

[2020-12-12 21:36] seifodev commented on #40
I really wish you could fix this soon, This plugin will make me abandon tinkerwell and tinkerpad.
Thanks

[2020-12-14 07:35] Roboroads commented on #40
Please note that I don't have all the time and money to work on this free plugin. Working on this only brings satisfaction, no bread on the tabel (I wish..)😜 If it's urgent for you, you could try and PR this 🙂

[2020-12-14 12:13] majonathany commented on #39
Yes, I agree, I use the Tinker plugin multiple times a day and would like to save snippets without creating a PHP class that I have to pipeline into Laravel or the autoloader. But I find myself commenting things out too much in Tinker and it can get messy since I don't have a place to store my console files.

[2020-12-14 12:26] majonathany opened #41 "How to kill a frozen Tinker console's process?"
**Bug description**
When loading a large file (something like 600KB of json), the terminal tinker loads it fine, but the plugin to PHPStorm freezes up and there is no way from inside the GUI to kill the process. How do I kill the window? It does not seem that `killall -9 php` works. The only way to close this process is to close PHPStorm and reload completely.

**To Reproduce**
I loaded a 650KB 5

[2020-12-14 18:10] seifodev commented on #40
You are right and I really appreciate your work.
I can donate if it's possible because this plugin deserves

[2021-01-09 16:25] leandrodiogenes opened #42 "Cannot debug with XDebug?"
**Bug description**
I`m using XDebug but i cant debug using tinker plugin. Anyone?

**Environment:**
 - IDE & Version: PHPStorm 2020.3.1
 - PHP Version: 7.4
 - OS: Windows 10
 - Laravel Tinker plugin version : 1.3.1
 - Interpreter Type: Local
 - Laravel Version: 8.20
 - Tinker version: 2.5.0

[2021-01-09 16:49] Roboroads commented on #42
The plugin uses the interpreter you set up in your settings. Is xdebuig enabbled as plugin in those settings?
You could dump your ini settings in tinker to see if the xdebug plugin is enabled, maybe check your xdebug activation settings if they match.

Tinker works by asking the IDE “Using current interpreter settings, please execute this script” – so the plugin has nothing to do with PHP itself,

[2021-01-09 16:53] Roboroads commented on #41
You _should_ be able to click the (x) on the bottom of your screen where it sais "executing tinker console".

Sorry for answering late - I completely missed the notification.

[2021-01-09 20:15] leandrodiogenes commented on #42
Yea, i think everything is ok.
I'm able to debug my tests and incoming requests but i'm not lucky on tinker plugin.

![image](https://user-images.githubusercontent.com/2463299/104107797-0e1ca200-529e-11eb-9532-0abcfd05ae5d.png)

This is my ini dump from laravel tinker output.
[code]

[2021-01-09 23:39] Roboroads commented on #42
Are  your tests running through the IDE interpreter as well? Looks like your xdebug is off when it uses the ini the IDE loads. Op 9 jan. 2021 21:15 schreef leandrodiogenes <notifications@github.com>:
Yea, i think everything is ok.
I'm able to debug my tests and incoming requests but i'm not lucky on tinker plugin.

This is my ini dump from laravel tinker output.
xdebug

xdebug support => enabled
V

[2021-01-10 17:19] leandrodiogenes commented on #42
Yea, i'm running my test throughs PHPSTORM.
Everything is debugging fine, tests, income requests and artisan tinker terminal commands.

[2021-01-14 11:17] Roboroads commented on #42
Alright. I've gotten the time to check out how I can get it running for myself - I'll let you know!

[2021-01-14 11:56] Roboroads commented on #42
I see -  i'm doing a PhpScriptRun instead of some debug session - Run and Debug configs are different. I'm unsure as to how I can set up a debug run yet.

[2021-02-07 11:11] emargareten opened #43 "Error - reusing same file for all projects"
**Bug description**
Plugin is reusing same console for all projects (getting other projects snippets in new project)
Also getting an IDE error

**To Reproduce**
Opened tinker console in new project

**Expected behavior**
Create separate console for each project

**Screenshots**
![image](https://user-images.githubusercontent.com/46111162/107144618-0f94c500-6945-11eb-8639-d6e73cfc883e.png)

**Enviro

[2021-02-07 12:26] Roboroads commented on #43
Did you possibly have 2 projects open at the same time? If so we can test if thats the problem.Tinker cache is saved per-project in the .idea folder of that project. I'm very unsure how your second project got the cache file from another project since this is a native ide feature.Op 7 feb. 2021 12:11 schreef emargareten <notifications@github.com>:
Bug description
Plugin is reusing same console for

[2021-02-07 12:30] emargareten commented on #43
@Roboroads That's right I did have 2 projects open at the same time, I just tried closing all projects and opened only one and did get the expected results 👍

[2021-02-08 00:14] Roboroads commented on #43
Good. I just figured out how to use scratchfiles instead of LightVirtualFiles so this problem might be a thing of the past then :D

[2021-02-08 00:14] #43 closed

[2021-02-08 00:17] Roboroads commented on #39
Good news - I just (3 mins ago) figured out how to do this with scratch files. It had been bothering me for weeks but it's coming in 2.0!

[2021-02-08 13:35] Roboroads commented on #37
This is done, will be in the v2.0.0 release!

[2021-02-08 13:35] #37 closed

[2021-02-08 13:35] Roboroads commented on #38
This is done, will be in the v2.0.0 release!

[2021-02-08 13:35] #38 closed

[2021-02-08 13:36] Roboroads commented on #39
This is done, will be in the v2.0.0 release!

[2021-02-08 13:36] #39 closed

[2021-02-08 13:58] Roboroads commented on #24
Hey, @amirzpr

I probaby got a solution. I've compiled a test jar. If you can verify this works for you I can release it with v2.0.0

[Laravel Tinker-1.3.1-fix-attempt.zip](https://github.com/Roboroads/laravel-tinker/files/5944099/Laravel.Tinker-1.3.1-fix-attempt.zip)

[2021-02-09 18:33] amirzpr commented on #24
Hey @Roboroads .
Thanks for that.

First of all, I have to say that I found out this specific problem just happens in one of my projects and the plugin works well in other projects!

Anyway, I installed and tested this jar file. The previous error is gone in the stated project. But now it's producing a new one which I paste its error text below.
Besides, after installing the jar, tinker console do

[2021-02-11 22:03] bfinlay opened #45 "Ability to run statements individually"
**Is your feature request related to a problem? Please describe.**
Currently, all statements in the tinker console are executed when the run button is clicked or the shortcut key's activated.  I most often use tinker when exploring possibilities and debugging a command.   Sometimes there a sequence of steps before that to load initial conditions.   When in the artisan console, the results of previ

[2021-02-12 11:17] Roboroads commented on #45
For this to work a tinker session should be kept open. Deserializing the current memory and reserializing it is not something PHP and Laravel is built for.

That's going to be a hard one, I think, since I'm only using tinker *code*, not `php artisan tinker` itself. (actually it's more like `php -r '<contents of tinker_run.php>' 'your code'`) I'm never doing readline for any of the execution. It's

[2021-02-12 11:20] Roboroads commented on #24
@amirzpr Bummer - but i'm not giving up!

I'm curious to why this project is special in writing rights to specific files. Do you run it om the same machine as the others? Maybe another php executable?

[2021-02-12 12:46] amirzpr commented on #24
No, there is no environment differences between projects. All of them are even in the same folder and disk drive.

As much as I remember, I tried your plugin for the first time in this project.
After testing the plugin, when I wanted to commit the changes I've made in project using PhpStorm git commit dialog, I noticed a new file named `nul` in the project directory and I didn't know where it came

[2021-02-12 13:08] Roboroads commented on #24
@amirzpr You might confuse `nul` with `null` - since `null` is not a windows file driver (like `con` or `nul`). At first I wrote the history to '/dev/null' on unix and 'null' in windows. Then I updated the plugin because it made `null` files in windows.

Here I have a possible fix - tries to check for /dev/null, then nul, then system-tempdir/LTHisxxxx, lastly ./LTHisxxxx. On the last 2 options the

[2021-02-12 20:13] amirzpr commented on #24
![image](https://user-images.githubusercontent.com/45946337/107817207-124f4a00-6d8b-11eb-8476-7d41b41ced75.png)

No errors this time. 🎉
The error is gone. But there is no console output in any of the projects.
I used `echo` and `dd` to write to Tinker console, but the output is empty and only `*** Execution finished ***` shows up.

The speed is much better in this version btw. 👍

[2021-02-16 16:56] Taalaybek opened #46 "cannot run code on php interpretuere working in docker"
**Bug description**
shows a progress but not output result in right window of tinker

**To Reproduce**
when running code via docker, it is just try up container that I set in settings of php interpretuere

**Environment (please complete the following information):**
 - IDE & Version: PHPStorm 2020.2.4
 - PHP Version: 7.4
 - OS: Elementary OS 5..1.7 Hera (based on Ubuntu 18.04)
 - Laravel Tinker pl

[2021-02-19 01:06] Roboroads commented on #46
@Taalaybek Can you confirm *how* you are running docker? If you are using `docker run` can you try is the issue persists if you use `docker exec`?

I've had another problem which I can't seem to figure out using `docker run`.

[2021-02-24 04:54] dmitryuk commented on #46
I'm using docker-compose, running tests from PHPStorm works fine, Laravel tinker 2 - no.

[2021-02-24 19:44] Roboroads commented on #46
@dmitryuk That does not really answer my question yet. Are you using `docker-compose run` or `docker-compose exec` when running Tinker? You can find it in the PHPStorm interpreter settings.

[2021-02-24 19:50] dmitryuk commented on #46
`docker-compose exec`
![image](https://user-images.githubusercontent.com/661654/109057280-204e8480-7714-11eb-9634-5b15e4611a66.png)

[2021-02-28 23:47] hailwood commented on #46
On this topic [Lando](https://docs.lando.dev/config/laravel.html) is quite popular,
The issue is that it's a wrapper around docker-compose - so we don't have the docker-compose.yml file

Instead we do things like `lando artisan migrate` or `lando tinker` and it will deal with that side for us.
It means we cannot use PHPstorm for running tests etc

I doubt this is something this plugin can solve, b

[2021-03-01 09:36] swayok opened #47 "Tinker output does not show '<' symbol unless wrapped with htmlentities('<')"
**Bug description**
Write here a clear and concise description of what the bug is.
Tinker output does not show `<` symbol unless wrapped with `htmlentities('<')`

**To Reproduce**
What did you do to encounter the bug?
`echo '<'`
`echo '<tag>'`

**Expected behavior**
If the description didn't make it clear enough, what should have happened?
`<` printed

**Environment (please complete the following

[2021-03-01 09:45] swayok commented on #40
Got this problem when opened tinker in 2 IDE projects.
In result all output was sent to the latest opened tinker output.

[2021-03-01 14:50] Roboroads commented on #40
That can indeed be a problem - thanks for this info, now I can probably work this one out :D

[2021-03-01 14:54] Roboroads commented on #46
@hailwood True, i'd have to create a switch between "how to run a tinker command" with you  being able to add a custom command for executing. If there is enough people wanting that I could add it.

[2021-03-01 14:56] Roboroads commented on #47
True, the output is parsed as HTML - I'll look into this one.

[2021-03-03 20:23] jesperbjerke opened #48 "2.0.0 fails when used with Homestead Remote PHP interpreter"
**Bug description**
Since the last update, all tinker sessions fails with the following error:

[code]

I am using a remote PHP interpreter through Laravel Homestead. Everything worked perfectly before the last update.

**To Reproduce**
Setup a Remote PHP interpreter and run any type of code through tinker. Fails even with just `echo 'test';`

**Environment (please complete the following informati

[2021-03-04 21:50] leandrodiogenes commented on #24
Same here.

[2021-03-05 10:38] stiltet opened #49 "Can't find "C:\Users\User\AppData\Roaming\JetBrains\PhpStorm2020.3\laravel-tinker\Tinker Console" even though the file exists in that path"
**Bug description**
Trying to run the Tinker Console I've correctly configured my remote server instance and the needed php-instance. But when I try to run the code in the Tinker Console the console fails with the bellow messages, saying that "C:\Users\User\AppData\Roaming\JetBrains\PhpStorm2020.3\laravel-tinker\Tinker Console" don't exist. But when I open the same path through Windows Explorer th

[2021-03-05 13:10] Roboroads commented on #49
It doesn't even look like my plugin is running your file - I just get contents of the file to place in a (very long) php command.. Strange..

Will look into it when I have the time.

[2021-03-05 13:12] Roboroads commented on #48
Looks liek there is some weird stuff going on when using interpretation over ssh - I'm going to look into it when I get the time

[2021-03-09 10:54] Roboroads opened #50 "Smart action overwrites code from tinker console to blank page."
**Bug description**
Smart action overwrites the already opened/first file

**To Reproduce**
Open tinker with smart action, type in some code, switch tab, reopen the tab with smart action, typed stuff is gone.

**Expected behavior**
Just switch back to the tab, don't overwrite it.

**Environment (please complete the following information):**
Tinker plugin v2.0.0

**Additional info**
**WORKAROUND**

[2021-03-09 11:29] Roboroads opened #51 "[NOTICE] Why aren't issues being solved and going stale"
I apologise for not solving issues right away. Please note that there are a couple of reasons why

**I sometimes just don't know**
I'm "fairly new" at Kotlin and the Jetbrains PHP plugin has no documentation at all. Sometimes it's just hard to wrap my head around why something does not work. Believe me if i've said that I tried. :sweat_smile:

**Niche feature requests**
I will only implement a fea

[2021-03-23 20:45] #50 closed

[2021-03-23 21:20] #47 closed

[2021-03-24 20:59] #40 closed

[2021-03-24 21:44] Roboroads commented on #14
The script does `$app = require_once(__DIR__ . '/bootstrap/app.php');` and for some reason, passing that into a `docker exec` from PhpStorm makes php think it needs to parse it to a string. For some reason I think this is a bug within PHPStorm and how they pass it to the CLI.

[2021-03-25 14:59] Blue-Kachina opened #52 "Tinker Running Code From Previous Console"
**Bug description**
After having just upgraded to v2.0.1, I'm finding that the Laravel Tinker plugin will sometimes run code from a previous Tinker Console

**To Reproduce**
1. Ran simple code like "Hello World"
2. Tools>Laravel Tinker>Close All Tinker Windows
3. Deleted old Laravel Tinker Console(s) from Scratches and Consoles
4. Tools>Laravel Tinker>Open New Console
5. Typed out and ran new code

[2021-03-29 09:28] Roboroads commented on #52
Hi, I've done your exact reproduction steps without success. Do you have multiple projects open by any chance?

[2021-03-30 14:07] Blue-Kachina commented on #52
@Roboroads
The timestamp in the console was indeed changing.
I did not have multiple projects open at the time.
I had just installed the update for your plugin though, and perhaps I had just needed to restart PHPStorm or something.
This problem has not happened again since reporting it.

[2021-03-30 14:07] #52 closed

[2021-03-30 17:03] Roboroads commented on #52
Alright! I will keep.the issue open for a little while, to see if the problem appears for someone else and will otherwise close it.Thanks for helping!

[2021-04-07 06:06] 4unkur commented on #41
@Roboroads do you mean the progress bar:

![Tinker Console 2021-04-07 12-00-15](https://user-images.githubusercontent.com/7892851/113818076-156a2380-9799-11eb-9e96-5cdeb94c40cd.jpg)

If so, then the provided solution does not solve the problem, because there is progress running.
My code is executed but for some reason the output is blank and it's no longer shown even if I try to execute something

[2021-04-07 09:27] majonathany commented on #41
Hm, I recall trying various things but I couldn't get the process to stop. A few days after, I had purchased the Tinkerwell paid IDE plugin, and I haven't had any problems parsing extremely large data structures, so I'm not sure if that could resolve the problem.

[2021-04-07 09:46] Roboroads commented on #41
I have done a couple of updates after this bug was reported. If the x is not working ill have to check for another solution.If tinkerwell is more in in line with your expextations - thats fine too. I'm just a single developer provinding you an opensource alternative which hopefully does enough. The guys at tinkerwell are a company that can spend hours a day in the software 🤷‍♂️

[2021-04-07 09:52] majonathany commented on #41
I apologize, I really appreciate the software, it is an amazing tool. Tinkerwell is rather expensive, so I might come back to this plugin someday. I had no issues using this with smaller amounts of data and quick scripts, it was really quite nice. Thank you for building this!

[2021-04-09 09:23] Roboroads opened #53 "Incompatible with 2021.1"
The plugin is incompatible with 2021.1

[2021-04-09 09:24] Roboroads commented on #53
Fix is underway btw

[2021-04-09 09:45] #53 closed

[2021-04-09 09:56] Roboroads commented on #41
Currently - what I do.

[code]

[2021-04-09 10:06] Roboroads commented on #41
![image](https://user-images.githubusercontent.com/4398301/114164736-f0f28080-992b-11eb-8f2e-9ff8d3d2a9fb.png)
I might have found it.

[2021-04-09 10:09] #41 closed

[2021-04-09 10:39] Roboroads commented on #35
![image](https://user-images.githubusercontent.com/4398301/114168525-a6bfce00-9930-11eb-9e3d-72176881b63b.png)
Found a solution!

[2021-04-09 11:24] #35 closed

[2021-04-09 13:32] #33 closed

[2021-04-16 10:57] ZHOUXING1997 opened #58 "Adaptation to lumen"
Hello, can we make it work with the Lumen？

[2021-04-27 08:08] emargareten opened #61 "Error and CPU 100% when tinker enabled on unknown specific usecase"
**Bug description**
Plugin causes errors every ms and slows down entire ide (analyzing... never ends etc.)
when I disable the plugin there are no errors, reenable the plugin the errors reappear

**Logs**
[code]

**To Reproduce**
Enable plugin

**Environment (please complete the following information):**
 - IDE & Version: PHPStorm 2021.1.1
 - PHP Version: 7.4 / 8.0
 - OS: Windows 10
 - Laravel Tink

[2021-05-01 14:52] Roboroads commented on #61
Is there more people having this issue? I use my plugin daily and don't seem to have problems to be honost.

[2021-05-02 11:10] emargareten commented on #61
issue is resolved in version 2021.1.2

[2021-05-05 19:44] K2ouMais opened #62 "How can I stop tinker processes?"
Open a console an run a simple command.

Even when the command was runned sucessfully the tinker process will still run in the background.

If you open more and more consoles, that will lead to more processes in the background.

You have to stop it manually in the processes, but I can think people forgetting about this and the processes consuming the memory in the background.

- Can you stop the p

[2021-05-13 23:24] jdecode commented on #46
If you need time/energy/effort to work on this one, I can try to chip in...

[2021-06-03 08:21] white-hyena opened #75 "IDE Fatal error"
**Bug description**
When opening Tools->Laravel Tinker menu ide reports fatal error.

**Screenshots**
![image](https://user-images.githubusercontent.com/62600397/120611855-44310d00-c45d-11eb-8096-1cbac7e9c085.png)

**Environment:**
 - IDE & Version: [e.g. PHPStorm 2021.1.2 and 2021.1.3]
 - PHP Version: 8.0
 - OS: Windows 10
 - Laravel Tinker plugin version : 2.1.0
 - Interpreter Type: Local
 - Lar

[2021-06-09 13:12] benlights commented on #61
I am still having this issue on:
- IDE & Version: PHPStorm 2021.1.3
- PHP Version: 7.3 / 7.4
- OS: Windows 10
- Laravel Tinker plugin version : 2.1.0
- Interpreter Type: Local / Remote

[2021-06-14 17:33] terry-lonesski commented on #62
@K2ouMais to stop tinker execution you can add `die()` at the end of script in tinker console

[2021-06-16 10:33] #34 closed

[2021-06-16 10:36] Roboroads commented on #62
This sounds more like a (WSL?) bug than anything else. I just spin up a PHP process and that _should_ finish executing after your file. Unsure here where it keeps hanging on your installment.

[2021-06-16 10:41] #75 closed

[2021-06-16 10:44] Roboroads commented on #58
I'm not sure. Have you tried installing tinker and just running it? `composer require --dev laravel/tinker`

[2021-06-16 13:00] ZHOUXING1997 commented on #58
是的，我已经安装过，并且运行过了。我的框架版本：Lumen8.0

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Roboroads/laravel-tinker"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6月16日(星期三) 晚上6:44
***@***.***&gt;;
***@***.***

[2021-06-16 14:03] Roboroads commented on #58
"Yes, I have installed it and it has been running. My frame version Lumen8.0" (translated with google)

So, if it's working, i will close this :)

[2021-06-16 14:03] #58 closed

[2021-06-17 01:38] ZHOUXING1997 commented on #58
好的，感谢您的回复。
我的运行结果

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Roboroads/laravel-tinker"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年6月16日(星期三) 晚上10:04
***@***.***&gt;;
***@***.******@***.***&gt

[2021-06-17 21:34] Roboroads commented on #34
@BazMaster excuse me it took so long, but you can now, in v2.2.0, set an execution root per-project. Hope this helps!

[2021-06-18 14:48] sowrensen commented on #75
@Roboroads Hey just wanted to thank for fixing this. For this issue I couldn't able to use the plugin for like a week and my life was miserable!

Thanks for your great work. 👍

[2021-06-18 20:33] morsergen opened #78 "How can I use the Tinker plugin with Devilbox"
Good day!
I am using devilbox (https://github.com/cytopia/devilbox/blob/master/docs/index.rst)
Tinker gives an error while working with the database.
How can I use the Tinker plugin with Devilbox?

![image](https://user-images.githubusercontent.com/45065258/122612809-71e89980-d08c-11eb-9640-c7af57f62875.png)

![image](https://user-images.githubusercontent.com/45065258/122612720-49609f80-d08c-11eb-

[2021-06-21 09:14] morsergen commented on #78
Good day!
I can connect to the database from my localhost
![image](https://user-images.githubusercontent.com/45065258/122724003-37455380-d27c-11eb-8e4b-42358109fee8.png)
![image](https://user-images.githubusercontent.com/45065258/122725050-45e03a80-d27d-11eb-8592-dad2e2d1b76b.png)
![image](https://user-images.githubusercontent.com/45065258/122724284-7378b400-d27c-11eb-8df7-9332784febe5.png)

but w

[2021-06-24 09:33] mrlilly commented on #61
I am still having this issue on:

IDE & Version: PHPStorm 2021.1.3
PHP Version: 7.4
OS: MacOS Big Sur 11.4
Laravel Tinker plugin version : 2.2.0
Interpreter Type: Remote

Used to work fine, had to remove it as it started slowing down my machine
As soon as I install and enable it my CPU usage goes through the roof and the fans start up on my MacBook.

[2021-06-24 10:29] Roboroads commented on #61
@mrlilly can you sart a new issue with a stacktrace of the issue?

[2021-07-12 08:04] emargareten commented on #61
reopening issue, still happening whenever I try to expand / is expanded scratches directory

[2021-07-14 22:08] philipmclifton commented on #61
Not sure if the same issue but when the plugin is installed, my color theme breaks randomly and things start to slow down.

[2021-07-19 13:09] GammelBro commented on #61
I have the same issue on:
IDE & Version: PhpStorm 2021.1.4
PHP Version: 8
OS: Windows 10
Laravel Tinker plugin version : 2.2.0
Interpreter Type: Remote

[2021-07-20 15:25] Roboroads commented on #61
@emargareten @philipmclifton @GammelBro Without a new stack trace I can';t really help. The error in the first post has been worked around so I don't believe it's the same. (Or, prove me wrong, ofcourse :) )

[2021-07-20 15:29] Roboroads commented on #78
Are you using the PHP interpreter from within your development container? It looks like you are using your local php executable whilst you connect inside of a development box.

Sorry for responding late!

[2021-07-20 15:31] Roboroads commented on #48
@jesperbjerke Hasw this been solved by the last version?

[2021-07-20 16:25] GammelBro commented on #61
[code]

[2021-07-23 10:16] Roboroads commented on #61
@GammelBro There's nothing in this trace which redirects me to problematic code of Tinker unfortunately.

[2021-07-23 10:24] philipmclifton commented on #61
It's very hard to figure out what toggles the break -- all I know for sure is that it does happen if tinker is disabled.

[2021-07-23 12:37] GammelBro commented on #61
As @philipmclifton mentioned if I activate the tinker plugin files won't be analysed. I noticed this problem inside a mono repo with a laravel api and a react application. At this time I was working on some tsx files for the react application.

[2021-07-23 20:49] jesperbjerke commented on #48
@Roboroads Unfortunately the same problem still occurs on 2.2.0

[2021-08-05 14:46] richardhulbert commented on #61
I am afraid I am also seeing this. With the plugin phpStorm will not finish analysing and uses >100% CPU.

[2021-08-11 07:27] Roboroads commented on #61
may be some windows specific issue. I'm still trying to replicate this!

[2021-08-11 08:02] richardhulbert commented on #61
@Roboroads FYI I am a Mac user using the latest version of phpStorm. If I can help you with debugging let me know how

[2021-08-11 09:45] Roboroads commented on #61
@richardhulbert oh boi.. i need a means to replicate the issue on my dev build to be able to fix it, as you know being a dev :P

Since i have no issues and using the plugin just fine there should be some specific conflict in the peoples ides that are experiencing this. I need to figure out what but having no luck yet.

[2021-08-11 10:05] richardhulbert commented on #61
I will try to create a project where this happens and share it with you - it is project specific so there is a bit of a clue. For some projects this is not a problem.

[2021-08-31 09:52] IgorKorytin commented on #61
Hello i get a same issue, env info:

IDE & Version: PHPStorm 2021.2.1 (build PS-212.5080.71)
PHP Version: 7.4
OS: Linux Mint 20.1 Ulyssa
Laravel Tinker plugin version : 2.2.0
Interpreter Type: Docker-compose
Laravel Version: 6.20.24 and 7.30.4 and 8.55
Tinker version: 1.0.10 and 2.6.1 and 2.4

Attach idea.log and thread dumps (the directory appeared at the time of problems with the plugin)
[logs.t

[2021-09-09 20:07] Roboroads opened #96 "Compatibility with 2021.2.1"
As title sais

[2021-09-09 21:54] #96 closed

[2021-09-15 05:46] fawzanm opened #100 "Refreshing index issue"
**Bug description**
it's a very strange bug. I've been trying to use this plugin for about 3 months now and I keep on getting a "Indexing in progress" message flickering in PHPStorm. It only happens when Laravel Tinker plugin is enabled. I've tried to re-install and invalidate cache many times but I couldn't get it fixed. Anyone else faced this issue?

**To Reproduce**
I don't have any particular

[2021-09-15 11:17] Roboroads commented on #100
Sounds like a duplicate of #61 - I really need a good way to reproduce this to fix it tho. Some say it's project specific.

[2021-09-15 11:17] #100 closed

[2021-09-15 11:43] Roboroads commented on #61
@IgorKorytin I'm trying this on a fresh project, no issues come up. Some say this issue is project specific, does this issue happen on a fresh project with docker-compose file added?

[2021-09-16 08:54] imami opened #102 "Laravel Tinker cause issues in PHP Storm"
Laravel Tinker cause issues in PHP Storm:
1. Slows down the PHP Storm.
2. Prevents auto code completion and suggestions.
3. Sometimes cause issues with context-menu in project panel.

Laravel Tinker : v2.2.1
PhpStorm v2021.2.1

none of these issues exist before updating (also clean installing) PhpStorm v2021.2.1
and everything become ok when disabling the plugin.

[2021-09-16 20:41] Roboroads commented on #102
Duplicate of #61 - I need a way to reproduce the issue since I con't reproduce it whatever I try to do.

[2021-09-16 20:41] #102 closed

[2021-09-16 21:03] Roboroads commented on #61
I now have about 20 hours in trying to reproduce this behavior and still have not figured it out. I'm at the end of what I can possibly try here. So - I want to propose the following:

If there is anyone who is willing to let me help out by jumping on a call with me on discord to help me figure this out and maybe fix this - I would appreciate that.  Note that I would like to watch what happens to

[2021-09-17 01:59] fawzanm commented on #61
Hi @Roboroads

I am game for this. I can however join & share screen only via zoom (due to some local restrictions). I've sent you a Discord request.  Looking forward to hear from you.

Regards

[2021-09-18 09:30] Roboroads commented on #61
**Good news**

With the help of @fawzanm I am now able to reproduce the issue :tada: This means I can now attempt to fix it.

**Temporary workaround**

Don't have too many tinker consoles open. Check your Project -> Scratches and Consoles -> Laravel Tinker Consoles and see if you have more than, let say, 5 open consoles - then delete a bunch.

[2021-09-18 20:55] Roboroads commented on #61
Anyone having the same problem: can you let me know if this fixes the issue? It did for me but I want to be sure.

[Laravel Tinker-2.2.2-RC1.zip](https://github.com/Roboroads/laravel-tinker/files/7190625/Laravel.Tinker-2.2.2-RC1.zip)

Download zip > Unpack zip > PHPStorm plugin windows, click the cog > Add plugin from disk > Select unpacked jar

[2021-09-20 07:57] Roboroads commented on #61
rc.2 is now out, which fixes all old files as well

https://github.com/Roboroads/laravel-tinker/releases/tag/v2.2.2-rc.2

let me know if this works so i can release it :)

[2021-09-20 08:15] richardhulbert commented on #61
Hi Robo

Alas still the same for me. In addition to the high CPU I can see the files in the project window flicker (as they are being refreshed) There is a small improvement in that I can at least right click on files now.

Richard

[2021-09-20 08:22] richardhulbert commented on #61
Good news. Once I deleted the contents of the old Tinker Console and restarted phpStorm it all seems to be working again

[2021-09-20 08:23] fawzanm commented on #61
@richardhulbert yeah. That workaround is valid for the old version too.

[2021-09-20 08:33] richardhulbert commented on #61
@fawzanm good to know

[2021-09-20 15:16] Roboroads commented on #61
I'm keeping the beta I just put up for a day or 2, you can download it from the releases tab (https://github.com/Roboroads/laravel-tinker/releases) but it also should be released to JetBrains in a couple of minutes (needs to be reviewed tho - so that won't be  quick).

If you experience the issue, please install 2.2.2-beta.3 and let me know if your issues have been resolved. If so, I will release

[2021-09-20 21:20] hailwood commented on #46
/applyMagicFreshness

[2021-09-21 11:32] Roboroads commented on #46
@hailwood Thanks for noting. Are you actually having a bug that prevents you from running with Docker, or do you need a way to change the command? If it''s the latter, this is a feature request and not a bug and you should make a new ticket. If it';s the first, please provide the docker container/dockerfile you are trying to run it on :blush:

[2021-09-26 13:45] Roboroads commented on #61
As 2.2.2 is out now, I can hopefully close this bug - and hope nobody reopens it. Thanks for your patience everyone!

[2021-09-26 13:45] #61 closed

[2021-10-01 11:25] bramvanrijswijk opened #110 "Models are not returned with attributes anymore"
**Bug description**
Models are not returned with attributes anymore.

**To Reproduce**
Just do a simple `return \App\Models\User::all();`.

**Expected behavior**
I expected a Collection with all the User models and their attributes.

**Screenshots**
![Screen Shot 2021-10-01 at 13 19 30](https://user-images.githubusercontent.com/26224522/135611849-c4b626f4-3950-4757-98b3-9da23728d40d.png)

**Enviro

[2021-10-09 09:45] ZHOUXING1997 opened #111 "Run in "lumen" and report an error"
![1633772415354](https://user-images.githubusercontent.com/33240857/136653195-186ca867-5cb3-4480-a8d4-d0d64dd24b07.jpg)

[2021-10-11 22:07] DarkGhostHunter opened #112 "[Feature] Add open latest console from output panel."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to manually look for a Tinker console previously open.

**Describe the solution you'd like**
A simple button bar with three options: Open Last, Open Console (pick one), and New Console.

**Describe alternatives you've considered**
None

**Additional context**
Some quick clicks over the output box i

[2021-10-13 00:00] DarkGhostHunter commented on #112
Nope. I usually hook the output panel on the right or left, so having a button there saves me pressing more buttons when I’m already have one hand on the mouse.

Italo Baeza C.

[2021-10-14 06:07] jesperbjerke commented on #48
Still an issue with 2.2.2

[2021-10-19 00:07] #112 closed, assigned to nobody

[2021-10-19 07:20] jesperbjerke commented on #48
Yes, it's setup properly. It worked with exactly the same setup in version 1.x and stopped working in 2.x.
But when I started poking around the path mappings I found the issue.

PHPStorm works fine and the other PHP tools I use work properly with current setup through remote interpreter (phpcs, phpstan etc etc). However I have project source code setup in Dropbox, witch creates a symlink called li

[2021-10-19 09:59] Roboroads commented on #48
I'm glad we got it sorted out 😊

[2021-10-20 20:19] Roboroads opened #115 "Update to org.jetbrains.intellij v1.2.0 - solve compatibility issues"
I need to make https://github.com/Roboroads/laravel-tinker/pull/109 pullable. Currently build is failing.

[2021-10-20 21:03] #24 closed

[2021-10-22 11:59] tekord opened #116 "Suggestion on debugging"
Hi! I started to write a comment to this issue https://github.com/Roboroads/laravel-tinker/issues/42 but realized that it might be better to create a new one.

I'm interested in debugging too. I'm not really familiar with how exactly this plugin works under the hood. But here is my use case, I believe it might give you some ideas to solve the issue.

I write console commands a lot. Normally I run

[2021-10-27 10:13] boadusamuel opened #118 "Model output on console"
**Bug description**
Results display of model with the plugin doesn't match that of normal tinker console

**To Reproduce**
Updated editor and installed the plugin afresh

**Expected behavior**
Display in normal tinker console should match that of plugin results

**Screenshots**
If applicable, add screenshots to help explain your problem.
![laravel-tinker-plugin](https://user-images.githubuserconte

[2021-10-27 13:29] #118 closed, assigned to nobody

[2021-10-29 14:45] Guilhem-DELAITRE opened #120 "Remote php interpreter Laravel root directory problem"
Stange problem here :

My setup is as follow : my php interpreter is "remote" : ssh connection to a local running VM

It so happens that when i try to run the tinker console, I got this phpstorm notification :
"The configured laravel root is not a directory
Please check if it's the right path. Using a guessed vendor path for now."

The strange thing is that if I take the path in "Laravel root fold

[2021-10-29 15:23] #120 closed, assigned to nobody

[2021-11-01 06:38] dennyweiss opened #121 "Tinker Plugin shows empty Output and raises Exception"
**Bug description**
Tinker Plugin does not work inside Phpstorm but in Terminal it does. It seems to be related with [TinkerOutputToolwindow.updateView()](https://github.com/Roboroads/laravel-tinker/blob/dacf6a709ebaa55f9fe51bb48ffd989abc10c9a4/src/main/kotlin/nl/deschepers/laraveltinker/toolwindow/TinkerOutputToolwindow.kt#L86) is not able to fallback to an default value when `LABEL.defaultAttrib

[2021-11-01 07:01] dennyweiss commented on #121
**annotation: **

It seems to be affected by the IDE theme. When using a dark theme e.g. Dracula then Tinker does work as excpected.

[2021-11-01 22:14] DarkGhostHunter commented on #112
👌

Italo Baeza C.

[2021-11-02 07:50] dennyweiss commented on #121
I rolled the Tinker plugin back to version 2.2.2 and is working again when a light theme is activated.

[2021-11-02 08:27] Roboroads commented on #121
I indeed changed this because I removed a title from the screen where I picked the color from. I'll fix this today 🙂

[2021-11-03 12:01] #121 closed

[2021-11-03 12:02] Roboroads commented on #121
Fixed in the next release ^^

[2021-11-03 12:16] #115 closed

[2021-11-05 13:35] dontfreakout opened #123 "Latest version (2.3.0) crash on execution"
**Bug description**
Running code in Tinker console leads to no output and rises crash report in PHPStorm.

**To Reproduce**
See bug description.

**Environment (please complete the following information):**
 - IDE & Version: PHPStorm 2021.2.3, Build PS-212.5457.49
 - PHP Version: 7.4
 - OS: Linux / Fedora 34
 - Laravel Tinker plugin version : 2.3.0
 - Interpreter Type: Remote
 - Laravel Version: 8

[2021-11-05 17:37] Roboroads commented on #123
Duplicate of #121

Bug is fixed already and will be in the next release 😊

[2021-11-05 17:37] #123 closed

[2021-11-08 08:12] Roboroads commented on #120
This issue is now released and accepted! You can update via your IDE plugins settings :)

[2021-11-08 08:12] Roboroads commented on #121
This issue is now released and accepted! You can update via your IDE plugins settings :)

[2021-11-08 08:13] Roboroads commented on #123
This issue is now released and accepted! You can update via your IDE plugins settings :)

[2021-11-11 23:31] #42 closed

[2021-11-23 00:46] PanjiNamjaElf opened #127 "Add Rerun button on console output"
**Is your feature request related to a problem? Please describe.**
When I am done write long code to run on Laravel tinker, I need to scroll up again to rerun the code.

![image](https://user-images.githubusercontent.com/16651293/142955768-5a6218e5-81c0-4c94-b2c3-c12e4586a1b3.png)

**Describe the solution you'd like**
I want request to add rerun button on console output so it will be more practice

[2021-11-24 19:13] rshaw5 opened #129 "Add support for custom "Run Tinker with using custom command""
#### This request is related to [this bug report](https://github.com/Roboroads/laravel-tinker/issues/46).

### Background
Recently, my team split our app into a few Docker containers. Prior to this, I was using PHPStorm Laravel Tinker extensively with an interpreter installed globally on my machine.

Now that we've moved to Docker, I'd like to also change my PHP interpreter to use our Docker's bin

[2021-11-24 19:15] rshaw5 commented on #129
I didn't see an issue created for the associated bug report yet, per [this comment](https://github.com/Roboroads/laravel-tinker/issues/46#issuecomment-923893637), so I went ahead and created it since this would be a very useful feature in my use case!

[2021-12-05 13:11] AnthoRdev commented on #46
/applyMagicFreshness

[2021-12-17 13:27] AveZomer opened #131 "Live Output"
Could you make output like a live object.
With possibility to hide and show any keys of object.

Maybe something like this:
<img width="456" alt="Screenshot 2021-12-17 at 15 27 10" src="https://user-images.githubusercontent.com/66947751/146551470-70abc7f3-445f-42c4-a862-b91770fa24fb.png">
.

[2021-12-17 14:34] Roboroads commented on #131
I like the idea. I'm going to keep this one open if I (or someone) ever feels like making this.

[2021-12-19 20:51] #45 closed

[2021-12-19 20:51] #26 closed

[2022-01-04 03:09] minhnh94 commented on #46
![CleanShot 2022-01-04 at 12 07 13](https://user-images.githubusercontent.com/6817741/148004395-2d0a4d31-383f-4954-9dc9-f9652f043910.png)
Have the same issue, with PHP interpreter coming from docker container. tinker executed but no output. If I change to docker-compose exec it doesn't even run at all.
Which is weird, the exact same setting worked before and I never touched it since then, I wonder

[2022-01-12 13:18] robertramsdale opened #132 "Only Response is *** Execution finished ***"
My colleague's use this and love it. For some reason on all my projects, regardless of the code in the tinker console, the output is always

*** Execution finished ***

With no other results

I am Using

- PHPStorm 2021.3.1 Build PS-213.6461.83

- Laravel Tinker 2.3.1

I have uninstalled, restarted, reinstalled, restarted, still the same results.

I initially had an error "PHP CLI interpreter is m

[2022-01-13 13:55] robertramsdale commented on #132
Sorry I didn't notice the bug template somehow.
Thanks for prompting me to do this.
I noticed my interpreter and php version were different.
Once I updated my interpreter to the same version as my php version it worked.
Thanks for the support!
I am very excited to start using this

[2022-01-13 14:29] Roboroads commented on #132
Check! You're welcome!

[2022-01-20 09:28] Muetze42 opened #134 "File name or extension is too long"
**Bug description**
When I run Tinker I get this error message:
`Cannot run program "C:\xampp\php74\php.exe" (in directory "C:\xampp\htdocs\devlabor\ares\ares-residential-report-backend"): CreateProcess error=206, Der Dateiname oder die Erweiterung ist zu lang. To fix it change project interpreter or check settings.`

`Der Dateiname oder die Erweiterung ist zu lang` = `The file name or extension i

[2022-01-23 11:42] Roboroads commented on #134
Windows has a file path length limit - can you check how much characters the path to your vendor directory is?

[2022-01-23 11:46] Roboroads commented on #127
If the shortkey (Ctrl+Shift+T) and the toolwindow is not enough yet, you are free to send a PR in for this one :)

[2022-01-23 11:49] Roboroads commented on #129
Note that the plugin never actually runs `php artisan tinker`, rather `php -r <init code> <your code>`. This is using the interpreter PHPstorm uses.

Please check your settings of your PHP Interpreter and path mapping again, All the people I have spoken to have [the same problem, but fixed it with using correct settings](https://github.com/Roboroads/laravel-tinker/issues/132#issuecomment-101215807

[2022-01-25 17:32] rshaw5 commented on #129
Thanks for your reply! I've confirmed that there's _something_ wrong with my path mapping, but I'm not sure what. I'm using Laravel Sail, so maybe that's introducing an issue...

![image](https://user-images.githubusercontent.com/34202597/151027773-53fd3202-3f2a-40c6-aa99-3a9c09d6cf36.png)

<img width="836" alt="Screen Shot 2022-01-25 at 12 27 56 PM" src="https://user-images.githubusercontent.com/

[2022-01-25 18:36] Warmic commented on #46
Hello, I encountered the same problem and fixed it by downgrading PhpStorm version from 2021.3.1 to 2021.2.4. I also tried 2021.3.2 (EAP) it too had this problem

[2022-01-25 18:40] Roboroads commented on #129
Oh, fun fact, i have this problem myself now - my laravel project is in a subfolder from the larger project. Might be something to do with that.

[2022-01-27 14:49] #116 closed, assigned to nobody

[2022-01-27 22:26] Muetze42 commented on #134
Sorry for my late reply...

The limit is disabled. Strangely enough, it worked again the next day without me changing anything. :confused:

[2022-01-27 22:26] #134 closed

[2022-01-31 08:01] Warmic commented on #46
Hey guys,I think I understand now what is going on.
When IDE tries to execute command in fresh docker container, it does following: docker-compose -f "interpreter.docker-compose.yml" -f "ide-created/docker-compose.override.yml" run --rm containerName

This docker-compose.override file contains php code that will be executed. Both from plugin and user-input. Problem happens here. In versions of IDE

[2022-02-08 15:25] Warmic commented on #46
@Roboroads if you don't know how to solve this problem, I can try to contact some guys from Jetbrains or make an issue on their youtrack page

[2022-02-09 08:25] Lukasss93 commented on #129
same problem... (laravel in subfolder + docker php):

![image](https://user-images.githubusercontent.com/4071613/153155210-919de787-1464-4be1-a390-86cfea56ac7b.png)

[2022-02-12 11:00] maicol07 opened #136 "Compatibility with 2022.1"
Hi,

currently the plugin is incompatible with PHPStorm 2022.1. Can you update it?

Thanks

[2022-02-12 13:04] Roboroads commented on #136
Wow is it? I havn't received an email from JB telling me any compatibility issues.. Oh well, Imma look into it :)

[2022-02-12 13:23] Roboroads commented on #136
Looks like it's compatible, but I set an upper bound to compatible jetbrains versions. I've tries to remove the uppen bound so the plugin won't just go out of date without serious compatibility issues.

[2022-02-12 13:24] maicol07 commented on #136
:+1: thank you! Do we have to wait for the plugin to be approved by Jetbrains?

[2022-02-12 13:25] Roboroads commented on #136
Yup - as always :) But they usually apporve within 2 days.

[2022-02-14 14:31] Roboroads commented on #136
Does the update work for you now?

[2022-02-15 07:28] MuathIbnHassan commented on #136
it seems that 2.3.2 is not compatible with 2022.1

as it appears here: https://plugins.jetbrains.com/plugin/14957-laravel-tinker/versions/stable/158032

the version 2.3.2 compatibility range is 2021.2 — 2021.2.4

[2022-02-15 07:52] Roboroads commented on #136
That might very well be because it's not out yet.

[2022-02-15 08:46] MuathIbnHassan commented on #136
I am using 2022.1

The update were not avaliable at the store
I tried to uninstall it, then searching again
I cannot find it
i cannot find it in the store and the

I did try to download it as file then installing it from disk but this error appear :

![Laravel Tinker](https://user-images.githubusercontent.com/44880589/154025424-d18ed97d-df27-418e-8b01-5343fec264ef.png)

Plugin 'Laravel Tinker' (ve

[2022-02-15 08:54] Roboroads commented on #136
As you can see, that doesn't make any sense!

[2022-02-22 10:00] emargareten commented on #22
can this issue be reopened?

[2022-02-27 16:20] adrianpaiva1 commented on #129
I have the same issue, any workarounds>?

[2022-03-01 12:52] MuathIbnHassan commented on #136
Any update?

[2022-03-08 17:31] Roboroads commented on #136
2.3.3 should roll out any minute fixing the compatibility issue :)

Needs to be checked by JB ofc.

[2022-03-09 21:08] Roboroads commented on #136
Just checked, 2.3.3 works now in 2022.1 EAP :D
Also: it won't go out of date anymore unless there's compatibility issues with a next version somewhere ^^

[2022-03-09 21:08] #136 closed

[2022-03-26 09:03] splaa commented on #129
I have the same problem do you have any ideas?

[2022-04-11 02:30] gakkiismywife opened #151 "When I switch projects it doesn't work"
**Bug description**
When I switch projects it doesn't work

[2022-04-11 11:14] Roboroads commented on #151
When I switch projects it does work..

[2022-04-23 15:07] #127 closed

[2022-04-25 19:08] JerryBels commented on #46
Hey, in a sail environment on Windows I seem to have a similar issue. Tinker is executed but no output shown and the command actually has no effect (adding something in DB for example doesn't work). I configured my cli interpreter to use docker, but to no avail.

[2022-05-02 09:15] Roboroads commented on #46
This PR got me thinking of something. I'll keep everyone posted.

[2022-05-10 08:35] Algeneralo opened #159 "Issue after updating phpstorm version"
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/32073999/167585914-745fd8ca-5c2a-428e-840e-286d28284ba9.png)

**Environment (please complete the following information):**
 - IDE & Version: 2022.1
 - PHP Version: 8.1
 - OS: Windows 10
 - Laravel Tinker plugin version : 2.3.3
 - Interpreter Type: Local
 - Laravel Version

[2022-05-10 23:17] SanderCokart commented on #159
same issue here, really threw me off for an hour.

[2022-05-11 14:17] Roboroads commented on #159
I seem to not be able to reproduce this issue - and since i'm on vacation till the 28th I do not have the resources to test it on windows, sorry!

[2022-05-12 07:24] Roboroads commented on #46
@Warmic I posted this issue and your findings in their slack channel. I have no idea how to het this overrides dockerfile out so if you have time to explain it to me I can maybe add a bug to youtrack myself :) (or you do it, and I back you with "My plugin has this issue", also good :smile: ).

[2022-05-13 15:08] SanderCokart commented on #159
This worked! Thank you @EgorGruzdev !

[2022-05-30 07:15] Roboroads commented on #46
JB sais it's fixed in PHPStorm 2022.2 EAP Can someone also test it?

[2022-05-31 10:59] mosbror opened #162 "Tinker keeps running in background"
**Bug description**
When running a thinker script the process keeps running even after all code has been executed.

**To Reproduce**
Run tinker without exit() or die()

**Expected behavior**
Tinker should exit with message ```*** Execution finished ***``` after all code has been executed.

**Screenshots**
![tinker](https://user-images.githubusercontent.com/10770171/171158107-1d4881ae-92f7-412b-b8b

[2022-05-31 19:10] axcherednikov commented on #162
@Roboroads Same problem.

[2022-06-01 08:27] abrampl opened #164 "Plugin not working on windows with psy/psysh >= v0.11.3 (file_exists(): Unable to find the wrapper "hoa")"
**Bug description**

[code]

**Environment (please complete the following information):**
 - IDE & Version: PHPStorm 2020.2.4
 - PHP Version: 8.1
 - OS: Windows 10
 - Laravel Tinker plugin version : 2.3.3
 - Interpreter Type: Local
 - Laravel Version: v9.15.0
 - Tinker version: v2.7.2

[2022-06-01 11:30] peresmishnyk commented on #46
@Roboroads Testing PHPStorm 2022.2 EAP, not fixed :(

[2022-06-01 13:10] #159 closed

[2022-06-01 13:12] Roboroads commented on #164
# Temporary workaround until i get around to fixing this

[2022-06-01 14:13] lazer-hybiz commented on #162
same here

[2022-06-01 14:16] lazer-hybiz commented on #22
`keep active`?

[2022-06-01 14:21] lazer-hybiz commented on #22
How about moving the output to the services tab?
I see there the output is collapsable and much easier to select (i.e. http request outputs)

[2022-06-02 02:20] hailwood commented on #162
Present in 2022.2 EAP

[2022-06-07 07:51] rimuutfatih commented on #162
Same. 2022.2 EAP with New UI plugin

[2022-06-08 10:48] Roboroads commented on #162
I'm going to look at this one as soon as I fix my IDE

[2022-06-08 20:20] Roboroads commented on #46
I'm one step further, I'm certain it has something to do with functions. I rewrote tinker_run.php without declaring functions and it works.

[2022-06-08 20:26] Roboroads commented on #46
</proffessional>
I. FKN. FIXED. THIS. FINALLY.
FKN. INTELLIJ. WEIRDNESS.
<proffessional>

Ahum. Release is on its way :)

[2022-06-08 21:01] Roboroads commented on #162
Fix is ready - will be released in 2.3.4

Workarounded by just adding an exit() to the php code. Psysh is begin a _not nice product_ when working with it like I do.

[2022-06-08 21:03] Roboroads commented on #46
Fix is ready and will be released in 2.3.4.

Please let me know if you still have problems, but I hope I can close this one once and for all. It took be more than 40 hours to debug this :D

[2022-06-08 23:23] Roboroads commented on #164
This might be a windows specific issue, cannot reproduce on my linux machine with psysh 0.11.3 and 0.11.5

[2022-06-08 23:24] Roboroads commented on #162
That just kills the output entirely, reverting :P

[2022-06-08 23:53] #162 closed

[2022-06-09 00:09] Roboroads opened #167 "[NOTICE] Execution on Docker not working on IDE versions 2020.2.4 - 2022.1.2"
### Update

PhpStorm & IDEA 2022.2 are out! Upgrade to fix the issues :)

---

#### Original

Because of a bug in the docker package of JB in the IDE version range 2020.2.4 - 2022.1.2 Docker execution for Tinker wil never work. A bug was introduced which double-escapes dollar-signs ($), leaving your code with double dollar signs at execution time. This is a bug in the IDE and has nothing to do wit

[2022-06-09 00:12] Roboroads commented on #46
Before reopening this bug again, please [read this](https://github.com/Roboroads/laravel-tinker/issues/167)

[2022-06-09 00:17] Roboroads commented on #151
@gakkiismywife Please use the [bug report template](https://github.com/Roboroads/laravel-tinker/issues/new?assignees=&labels=bug&template=bug_report.md&title=) if this still needs to be addressed. Thanks!

[2022-06-09 00:17] #151 closed

[2022-06-09 08:02] emargareten opened #169 "Add app termination"
**Is your feature request related to a problem? Please describe.**
Some events only dispatch after app terminated / object destruction

**Describe the solution you'd like**
Add a simple `$app->terminate()` (or `$kernal->terminate($input???, $status???)`) in tinker_run.php after execution.

[2022-06-09 08:47] Roboroads commented on #169
Does _normal_ tinker do this?

[2022-06-09 09:13] emargareten commented on #169
normal tinker never ends

[2022-06-09 09:19] lazer-hybiz commented on #169
This is one of the stuff I hate in tinker, sometimes I have to manually call `__destruct` for things to work.

Also see https://github.com/laravel/telescope/issues?q=terminate+tinker

[2022-06-09 09:21] Roboroads commented on #169
Normal tinker stops when you type "q" or "exit" - if that does what you want it to do, then the latest update (2.3.4) will do exactly that.

If not: I can add an option to the settings to enable termination or not.

[2022-06-09 09:26] emargareten commented on #169
`q` and `exit` throws the BreakException I don't think it terminates the application.

[2022-06-09 11:26] JerryBels commented on #14
Hello! Testing again your plugin after you resolved https://github.com/Roboroads/laravel-tinker/issues/46 I now face this issue.

[code]

As I said on the other issue, I'm working on Windows with a Sail environment. The cli interpreter seems fine to me, as well as the path maping. If you need more informations, please ask.

[2022-06-09 11:31] Roboroads commented on #14
Yes, this is not fixed as said in the release notes:

[2022-06-09 12:09] Roboroads commented on #14
I found a way to proof to JetBrains this is also a double-dollar-escaping bug.

[code]

Sent this to JB - might get fixed in 2022.2 ^^

[2022-06-09 12:32] emargareten commented on #169
@Roboroads does this zip include the latest changes? I'm still using 2022.1

[2022-06-09 12:33] Roboroads commented on #169
@emargareten This zip contains #170

[2022-06-09 12:34] emargareten commented on #169
Can I use it with 2022.1

[2022-06-09 12:34] Roboroads commented on #169
Yes but docker interpreters won't work

[2022-06-09 13:45] Roboroads commented on #169
[Laravel Tinker-2.4.0.zip](https://github.com/Roboroads/laravel-tinker/files/8870915/Laravel.Tinker-2.4.0.zip)
With this one too?

[2022-06-09 13:50] Roboroads opened #171 "Convert ANSI colors to HTML instead of using regex to add color"
**Is your feature request related to a problem? Please describe.**
Currently, the colors are made with regex. Psysh outputs colors in ANSI colors.

**Describe the solution you'd like**
Instead of regexes, see if I can convert the ANSI colors from the output to HTML.

[2022-06-09 13:57] emargareten commented on #169
no, now it's fine.
but.. now I see `dump()` doesn't work

[2022-06-10 08:24] daniser commented on #164
[Рrobably related](https://github.com/bobthecow/psysh/issues/722).

[2022-06-10 09:36] Roboroads commented on #164
It is indeed. Psysh bug.

[2022-06-12 05:05] Sentoki commented on #42
Agree with @atymic it would be great

[2022-06-15 09:27] emargareten commented on #169
@Roboroads It does work, I think you can go ahead with this.

I do have another issue I think it started in version 2.3.4, sometimes the output displays only partially or doesn't display at all. (I might have had this issue on rare occasions before but now it happens like 50% of the time)

[2022-06-15 10:28] matthewknill opened #172 "Database access results in php_network_getaddresses error"
**Bug description**
Database access does not work resulting in the following error:
[code]

**To Reproduce**
Run any code that requires access to the database. If the code does not require access to the database, it seems to work fine.
I can also confirm that my application has access to the database and running tinker locally with `sail artisan tinker` also works fine with the database.

The foll

[2022-06-15 10:35] Roboroads commented on #169
Maybe you should create a new issue for that problem and see if other people have the same problem since I don't have it it and need a way to reproduce it to be able to fix it 🥲

[2022-06-15 10:42] Roboroads commented on #172
This usually means that the interpreter you are using not the one is you are developing with. Not a problem with tinker - just that where you run PHP cannot reach your DB from there.

[2022-06-15 10:42] #172 closed

[2022-06-15 11:00] matthewknill commented on #172
Thanks for that, when I ran `docker exec -it containername php artisan tinker`, it worked fine. Is that not to be expected?

[2022-06-16 00:50] matthewknill commented on #172
It's definitely the correct image and I've tried changing the path mappings to `/var/www/html` and PHP executable to the following to no avail:
[code]
![image](https://user-images.githubusercontent.com/50228686/173965772-08fe1b38-84ef-4bf4-ab41-a28e1ec599f1.png)

Your help is much appreciated thanks...

[2022-06-16 02:09] Roboroads commented on #172
I'm still 98% sure this is a thing in your setup that's not working. The plugin is not doing anything with your networking. Does a sail command do some extra linking whilst running as just a docker container isn't, maybe?

I could take a gander at it over a screenshare on discord if you want to. If you'd like, message me and we'll figure out a time. Roboroads#1337.

[2022-06-17 23:06] matthewknill commented on #172
Thanks, request sent

[2022-06-18 00:03] matthewknill commented on #172
Solution was to use `docker-compose.yml` and setting it as `docker-compose exec`:
![image](https://user-images.githubusercontent.com/50228686/174413971-9a12f770-3c44-4ba4-9bd7-bb068aef96bd.png)

I then faced the following issue which, I believe, can be solved by upgrading to the latest PHPStorm version: https://github.com/Roboroads/laravel-tinker/issues/14

[2022-06-24 12:52] #129 closed

[2022-06-27 20:14] Roboroads commented on #129
@rshaw5 I just helped someone who also had problems with sail. Here's some insights:

 - If you have a docker-compose.yml file - do not use the docker interpreter, but the docker-compose interpreter.
 - Make sure your path mappings are correc under the PHP settings.
 - There now is a setting in which you can specify a project root. Make sure this is the path on your docker conntainer.
 - There is

[2022-07-04 16:07] guiireal opened #173 "PHP Fatal error: Uncaught ErrorException: file_exists(): Unable to find the wrapper "hoa" - did you forget to enable it when you configured PHP?"
What's happening?

I created a new Laravel project and went to test tinker, this appeared

Laravel Version: 9.19.0
PHP Version: 8.1.3
PhpStorm 2022.1.2

![image](https://user-images.githubusercontent.com/13739343/177189847-dd166505-ea1b-45b2-8c44-509fa5ea6045.png)

[2022-07-04 16:08] guiireal commented on #173
`PHP Fatal error:  Uncaught ErrorException: file_exists(): Unable to find the wrapper "hoa" - did you forget to enable it when you configured PHP? in D:\Gui\Tecnologia_da_Informacao\Projetos_Atuais\centro-britanico\services\vendor\psy\psysh\src\Readline\Hoa\ConsoleTput.php:791
Stack trace:
#0 D:\Gui\Tecnologia_da_Informacao\Projetos_Atuais\centro-britanico\services\vendor\laravel\framework\src\Ill

[2022-07-04 16:08] guiireal commented on #173
[code]

[2022-07-07 17:42] GuilhermeFerro commented on #173
Same problem in my configuration:
[code]

[code]

[2022-07-08 19:14] Sohbet02 commented on #173
ConsoleTput.php file, for me it wasn't opening tinker. Fixed it with commenting and adding the location of the terms file on my local windows machine:
![image](https://user-images.githubusercontent.com/64475819/178056193-ec9d2a78-f972-476c-b856-afe2685ede0d.png)

[2022-07-21 02:21] leandrodiogenes commented on #173
anyone else with a better solution, i'll not modify my vendor folder.

[2022-07-23 21:34] Roboroads commented on #173
Excuse me for the lack of response - I'm not dead, covid happened :(

I'm going to look at this soon, currently in the process of upgrading another project.

[2022-07-23 23:39] Roboroads commented on #173
I don't create the bug templates for nothing. I tested this with:

- Laravel version: 8.83 / PHP Version: 8.0.9 / PhpStorm 2021.1.3
- Laravel Version: 9.19.0 / PHP Version: 8.1.3 / PhpStorm 2022.1.2

Both instances working just fine here. So, it's not a bugh to do with these 3 environment versions. Please add *all* of them. Here is a reminder:

 - IDE & Version: [e.g. PHPStorm 2020.2.1]
 - PHP Ver

[2022-07-24 03:31] leandrodiogenes commented on #173
Hey @Roboroads seems to be an psy/psysh issue.
Look at that [https://github.com/bobthecow/psysh/issues/722](url)

[2022-07-24 03:34] leandrodiogenes commented on #173
I solve my problem dowgrading psy/psysh to "0.11.2"

[2022-07-24 08:02] Roboroads commented on #173
I forgot this was the issue, yes, thanks.

Workaround available in https://github.com/Roboroads/laravel-tinker/issues/164#issuecomment-1143595797

[2022-07-24 08:02] #173 closed

[2022-07-28 20:49] leandrodiogenes commented on #164
Fixed after psy/psysh v0.11.8 release, please update.

[2022-07-28 21:13] leandrodiogenes opened #178 "Execution exits too early"
**Bug description**
I dont know how to explain beter, but sometimes the result shows, sometimes not.

**To Reproduce**
Just executing any script.

**Screenshots**
![image](https://user-images.githubusercontent.com/2463299/181636728-6d26e5c3-c401-4947-a754-7f126b2fd486.png)
![image](https://user-images.githubusercontent.com/2463299/181636736-0337326c-c6ad-4cea-b219-66951b910eb4.png)
![image](https:

[2022-07-28 23:27] Roboroads commented on #178
I already (tried to fix it) [https://github.com/Roboroads/laravel-tinker/commit/061cd6eab0dbe9dfef2e1c19631594c0a11b0884] but i do not think this is the solution. This week be fixed soon.

[2022-07-28 23:30] Roboroads commented on #164
You should update psysh in your project, nothing I can do here 😜

[2022-07-28 23:32] Roboroads commented on #164
@abrampl could you confirm this?

[2022-07-29 16:45] leandrodiogenes commented on #178
thanks @Roboroads

[2022-07-30 17:27] michabbb opened #179 "Question: is there a hotkey for "running" the code?"
i am asking, because the green arrow we are used to see in the jetbrains editor is not the same "run" tinker is doing.
so the IDE hotkey for "run this code" is (in my case): CTRL+SHIFT+F10 - but it´s not the same kind of "run" that happens,
when pressing this button:

![image](https://user-images.githubusercontent.com/3524595/181934824-7c79a569-d264-4f59-ac60-85266f45d7f9.png)

so if there would b

[2022-07-30 17:31] michabbb commented on #179
![image](https://user-images.githubusercontent.com/3524595/181934963-4feec9b6-8625-4fdf-9dcf-19bcd5f1b46d.png)

ups... found it 😏

[2022-07-30 17:31] #179 closed

[2022-07-31 09:32] mahdi-salah opened #180 "tinker not work properly with phpstorm 2022"
**Bug description**

the tinker not work properly with all versions of phpstorm 2022

and this video explain the problem:

https://drive.google.com/file/d/1_jObub4HmPGwpfXe4usioeUBL29x8dZH/view?usp=sharing

BUT its working well with phpstorm 2021

thanks for amazing tinker :)

[2022-08-01 13:07] Roboroads commented on #180
Same bug as #178

[2022-08-01 13:07] #180 closed

[2022-08-01 15:16] Roboroads commented on #179
Yes, every action has customizable hotkeys :D

[2022-08-01 15:40] mahdi-salah commented on #180
thank you Roboroads so much .. But how where can I find this part of code to make edit .. because I installed the plugin and I don't know how to deal with it to make changes .. Thank you in advance :)

[2022-08-01 15:42] Roboroads commented on #180
@mahdi-salah I still have to release the fix. I will see to it today.

[2022-08-01 16:32] Roboroads commented on #169
Will be in 2.4.0

[2022-08-01 16:32] #169 closed

[2022-08-01 16:37] #178 closed

[2022-08-01 17:31] Roboroads commented on #180
2.4.0 will be available this week after JB accepts it, which includes this issue.

[2022-08-01 17:31] Roboroads commented on #178
2.4.0 will be available this week after JB accepts it, which includes this issue.

[2022-08-01 17:31] Roboroads commented on #169
2.4.0 will be available this week after JB accepts it, which includes this issue.

[2022-08-01 21:12] Roboroads commented on #14
JB 2022.2 fixes this. Closing.

[2022-08-01 21:12] #14 closed

[2022-08-01 21:36] Roboroads commented on #164
Can anyone tell me it's fixed with the new psysh?

[2022-08-02 08:44] daniser commented on #164
I can confirm it's fixed.

[2022-08-04 09:10] Roboroads commented on #164
Awesome, closing then <3

[2022-08-04 09:10] #164 closed

[2022-08-04 17:02] mahdi-salah commented on #180
Thank you SO much for your efforts Roboroads :)

[2022-08-08 16:49] iron-viper opened #188 "Changing the font size in the console output"
**Is your feature request related to a problem? Please describe.**
I am working on a laptop in PhpStorm and there is a very small font in the plugin output.

**Describe the solution you'd like**
It would be nice to be able to adjust the font size for the plugin.

**Describe alternatives you've considered**
It may just be enough to increase the font size in the output text.

**Additional context**

[2022-08-11 11:52] lazer-hybiz commented on #188
https://github.com/Roboroads/laravel-tinker/issues/22

[2022-08-17 08:51] bobisdacool1 opened #190 "Bug if project root is not laravel root"
**Bug description**
I've got project root. The vendor directory is located at the project root, `./ProjectRoot/vendor`. My laravel directory is in the projects directory, `./ProjectRoot/projects/laravel-directory`. When I try to run the laravel tinker script, I get fatal error: `Fatal error: Uncaught Error: Failed opening required './ProjectRoot/bootstrap/app.php'`.
I tried changing laravel tinker

[2022-09-08 02:06] hertzelarmengolbf commented on #14
Tested with 2022.3 and still sees this as a problem, running app inside a docker container

// Laravel Tinker started at 2022-09-07 20:02:39

Fatal error: Uncaught Error: Object of class Illuminate\Foundation\Application could not be converted to string in Command line code:8
Stack trace:
#0 {main}
  thrown in Command line code on line 8
ERROR: 255

*** Execution finished ***

[2022-09-11 12:33] Roboroads commented on #14
@hertzelarmengolbf You might want to check your version again. 2022.3 is not out yet, not even as beta :P

[2022-09-13 11:07] bobisdacool1 commented on #190
I have already created a pull request for this bug

[2022-10-23 15:28] treii28 opened #201 "Any chance of tinker-over-ssh support?"
**Is your feature request related to a problem? Please describe.**
Support for connecting to a remote site before running tinker so code can be run directly in a staging or production environment for testing.

**Describe the solution you'd like**
Great use-case just popped up for me. I have an API I'm developing for that requires specifying your website's url as part of their application process t

[2022-10-24 13:42] Roboroads commented on #201
I don;'t see why you can't do it right now. Just connect a remore interpreter :)

![image](https://user-images.githubusercontent.com/4398301/197539774-0eed9e3d-bc76-4c5a-adaf-8d7c7ebd0632.png)

![image](https://user-images.githubusercontent.com/4398301/197539901-745ff6c8-3c92-46f7-a887-0192abd521b8.png)

![image](https://user-images.githubusercontent.com/4398301/197539972-3229c8a3-7a72-42f6-aaa8-e

[2022-10-24 13:42] #201 closed

[2022-11-02 18:25] Roboroads commented on #190
Ready for next release!

[2022-11-02 18:25] #190 closed

[2022-11-10 00:49] #188 closed

[2022-11-24 08:45] Guilhem-DELAITRE opened #209 "Missing vendor root settings input"
**Bug description**
I have a problem with plugin paths, so I digged a little in the code to try to understand what was happenning, and I saw that there was supposed to be a vendor_root field in phpstorm settings (or at least that's what I get from reading this file https://github.com/Roboroads/laravel-tinker/blob/be0fb546e4b30c6f0f8b610063b3c8376cd92832/src/main/kotlin/nl/deschepers/laraveltinker/